
    <h2>{{ section.settings.text }}</h2>
    <a href="{{ section.settings.link }}">{{ section.settings.link_title }}</a>

{% schema %}
{
  "name": "Account Bottom Section",
  "tag": "section",
  "class": "general-support-bottom general-support-bottom-smaller",
  "settings": [
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default" : "need help with something?"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link Title"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %}