<section class="cart-top-section">
  <div class="container-style container-large">
    <div class="cart-top-section-row">
      <div class="cart-top-section-col-left">
        <h1>your cart</h1>
      </div>
      <div class="cart-top-section-col-center">
        <h2 class="cart-page-count"></h2>
      </div>
      <div class="cart-top-section-col-right">
        <h2 class="cart-page-subtotal"></h2>
      </div>
    </div>
  </div>
</section>

<section class="cart-main-section">
  <div class="container-style container-large">
    <div class="cart-main-header-row">
      <div class="cart-main-header-col cart-main-header-col-1">
        <h4>cart item</h4>
      </div>
      <div class="cart-main-header-col cart-main-header-col-2">
        <h4>size</h4>
      </div>
      <div class="cart-main-header-col cart-main-header-col-3">
        <h4>Quantity</h4>
      </div>
    </div>

    <div class="cart-items-list"></div>
    <div class="loadingCart" style="text-align: center;display: none;padding-bottom: 100px;padding-top: 100px;">
      <img src="{{ "ajax-loader.gif" | asset_url }}"/>
    </div>

    <div class="no-items-in-cart cart-menu-modal-botom-row">No items in cart</div>

    <div class="cart-main-coupon-row hide-if-no-items">
      <input type="text" placeholder="apply a promotional code" id="customer_promo_code">
      <button class="cart-main-coupon-submit" id="apply_promo_code"><img src="{{ "icon-coupon-submit.svg" | asset_url }}"></button>
    </div>
    <div class="cart-main-botom-row hide-if-no-items">
      <div class="cart-main-botom-left">
        <span>shipping to the united states</span>
        <span>Apple Pay is now available as a payment option</span>
      </div>
      <div class="cart-main-botom-right">
        <span class="discount-active" style="display: none">DISCOUNT CODE: <span id="customer_promo_code_res" style="text-decoration: underline"></span></span>
        <span class="discount-active" style="display: none">Your discount will be calculated on checkout</span>
        <span>tax &amp; shipping calculated at checkout</span>
        <span class="totalprice">subtotal (tax excl.) <i class="mini-cart-subtotal"></i></span>
        <button class="cart-main-submit" onclick="document.location.href='/checkout'">checkout <i></i></button>
      </div>

    </div>
  </div>
</section>
<style>
  .no-items-in-cart{
    padding-bottom: 50px;
  }
</style>

{% schema %}
{
  "name": "Cart Template",
  "settings": []
}
{% endschema %}