
    <h2>{{ section.settings.title }}</h2>
    <a href="{{ section.settings.button_link }}">{{ section.settings.button_title }}</a>


{% schema %}
{
  "name": "Experiments - Process",
  "tag": "section",
  "class": "experiments-process-section",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Link Title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Experiments - Process"
    }
  ]
}
{% endschema %}