<div class="home-process-desktop-only">
    <div class="standard-cover">
      {% include "media-block" %}
    </div>
</div>
<div class="home-process-mobile-only">
    <div class="standard-cover">
      {% include "media-block", mobile: 1 %}
    </div>
</div>
<div class="container-style home-process-container">
    <div class="home-process-row">
        <div class="home-process-col-left">
            <div class="banner-heading" {% if section.settings.text_color %}style="color:{{ section.settings.text_color }}"{% endif %}>{{ section.settings.title }}</div>
        </div>
    </div>
</div>


{% schema %}
{
"name": "Index - Process",
"tag": "section",
"class": "home-process-section",
"settings": [
{
  "type": "color",
  "id": "text_color",
  "label": "Text Color"
},
{
  "type": "textarea",
  "id": "title",
  "label": "Banner Heading"
},
{
  "type": "header",
  "content": "Media Block"
},
{
  "type": "select",
  "id": "media_type",
  "label": "Media Type",
  "options": [
    {
      "value": "image",
      "label": "image"
    },
    {
      "value": "vimeo_youtube_video",
      "label": "YouTube or Vimeo Video"
    },
    {
      "value": "video_file",
      "label": "HTML5 Video"
    }
  ],
  "default": "image"
},
{
  "type": "image_picker",
  "id": "image",
  "label": "Image"
},
{
  "type": "image_picker",
  "id": "image_mobile",
  "label": "Image Mobile"
},
{
  "type": "video_url",
  "id": "vimeo_youtube_video",
  "label": "YouTube or Vimeo Video",
  "accept": [
    "youtube",
    "vimeo"
  ]
},
{
  "type": "text",
  "id": "video_file",
  "label": "HTML5 Video File URL"
}
],
"presets": [
{
  "name": "Index - process"
}
]
}
{% endschema %}