@import "./fonts";
// fonts

$mont:   "Poppins", sans-serif;
// $inter: "Inter", sans-serif;
 $inter:  "Poppins", sans-serif;
$intertight: "Poppins", sans-serif;
//colors

$dblue : #231F20;



// body{
//     background-color: #F0EFEF;
// }
