<style>

  .reviewOuter .ugc-storefront-widgets-tabs-container__tab{
    color: #a264a9;
    font-size: 44px;
    font-family: var(--header-font-stack);
  }

  .reviewOuter .yotpo-head{
     margin-bottom:0 !important; 
  }
  
  .reviewOuter .yotpo-reviews-seo-icon-text,
  .reviewOuter .yotpo-reviewer-name,
  .reviewOuter .yotpo-review-title,
  .reviewOuter .yotpo-read-more-text,
  .reviewOuter .yotpo-date-format{
    color: #cf6a28 !important;
  }

  .reviewOuter .yotpo-reviews-seo-trademark svg path{
    fill: #a264a9;
  }

  .reviewOuter .yotpo-review-border-smooth{
    background: #cf6a28;
    height: 1px;
  }

  .reviewOuter .yotpo-seo-page-layout {
      margin: 0;
  }
  
</style>

<div class="reviewOuter">
  <div class="container">
    <div data-yotpo-instance-id="481000" class="yotpo-widget-instance"></div>
  </div>
</div>