<div class="grid">
  <div class="grid__item large--eight-twelfths push--large--two-twelfths">
  </div>
</div>
{% unless page.content == blank %}
  <div class="rte">
    {{ page.content }}
  </div>
{% endunless %}