
	{{ 'bss-b2b-state.js' | asset_url | script_tag }}
	<script id="bss-b2b-wholesaler-form">
    if (typeof BSS_B2B == 'undefined') {
      var BSS_B2B = {};
    }
    BSS_B2B.formDataRender = [];
    BSS_B2B.formId = 11876;
    BSS_B2B.reCAPCHA = 0;
    BSS_B2B.CAPCHA_SITE_KEY = "6LcYPEgbAAAAAKEQdimI1PPA4vuOJHxNb5p6eLUo";
    BSS_B2B.status = 1;
    BSS_B2B.created_account = 0;
    BSS_B2B.redirect_url = "/";
    BSS_B2B.taxExempt = 0;
    BSS_B2B.formPrivacyPolicyStatus = 0;
    BSS_B2B.formPrivacyPolicyContent = `<p>By clicking Create, I confirm that I have read and accepted the <a href="/">privacy policy</a></p>`;
    </script>
	<style>null</style>
	
    {% assign bss-b2b-include-password = true %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
    {% section 'bss-b2b-wholesaler-form-11876' %}
  </div>
</div>