<header id="fixedHeader">
    <div class="header-container">
        <div class="header-left-col">
            <div class="header-left-wrap">
                <div class="toggle-menu">
                    <div class="toggle-menu-wrap">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                </div>
                <div class="site-logo">
                   <a href="/"><img src="{{ section.settings.logo | img_url: 'master' }}" alt=""></a> 
                </div>
            </div>
        </div>
        <div class="header-right-col">
            <div class="header-right-wrap">
                <div class="header-icon-links">
                    <a href="#">
                        {% comment %} <img src="../images/Group (2).png" alt=""> {% endcomment %}
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.3934 21.3039C20.2315 21.1906 20.0497 21.0982 19.9104 20.9613C18.1689 19.2494 16.434 17.5308 14.6968 15.8145C14.653 15.7713 14.6074 15.7303 14.5541 15.6807C14.4942 15.7216 14.4365 15.7574 14.3831 15.7983C13.2318 16.6796 11.9412 17.2545 10.5178 17.4981C8.39104 17.8621 6.36664 17.5439 4.48674 16.456C2.53785 15.3285 1.14833 13.7106 0.462249 11.5523C-0.439075 8.71718 -0.0255159 6.05418 1.73113 3.64919C3.19182 1.6491 5.18237 0.467092 7.62294 0.104906C9.72675 -0.207158 11.7173 0.174205 13.5477 1.28648C15.6411 2.55914 17.0454 4.37487 17.6056 6.77201C18.2813 9.6634 17.61 12.2589 15.7127 14.5353C15.6728 14.5832 15.632 14.6303 15.5925 14.6782C15.5838 14.6887 15.5782 14.7018 15.5574 14.7362C15.5977 14.7789 15.6415 14.8281 15.6884 14.8743C17.4103 16.5768 19.1336 18.2774 20.8516 19.9837C20.9948 20.1263 21.0994 20.308 21.2218 20.4719C21.2218 20.5691 21.2218 20.6658 21.2218 20.763C21.1315 21.0328 20.9466 21.208 20.6832 21.3039C20.5865 21.3039 20.4901 21.3039 20.3934 21.3039ZM1.38397 8.7782C1.40003 9.08678 1.39916 9.3448 1.42953 9.5989C1.62091 11.2076 2.23018 12.6341 3.34327 13.8148C5.29086 15.8803 7.69671 16.657 10.4541 16.1182C12.8712 15.6462 14.6777 14.2489 15.7487 12.0026C16.828 9.73793 16.7625 7.44931 15.5539 5.26094C14.3154 3.01809 12.3609 1.73932 9.82656 1.42638C7.82516 1.17926 5.98476 1.66784 4.37175 2.89561C2.42155 4.3801 1.4508 6.37975 1.38397 8.7782Z" fill="#E3E3DD"/>
                        </svg>                        
                        </a>
                    <a href="#">
                        {% comment %} <img src="../images/Group (3).png" alt=""> {% endcomment %}
                        <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.534 7.7137C24.4521 8.18004 24.3941 8.65225 24.2829 9.11124C23.9883 10.3251 23.3972 11.3983 22.6592 12.3918C21.5199 13.925 20.1348 15.2206 18.7047 16.4697C17.0192 17.9422 15.3248 19.4049 13.6309 20.8681C12.9808 21.43 12.2819 21.4544 11.6552 20.9083C9.45162 18.989 7.24272 17.0762 5.06551 15.1271C3.94667 14.1253 2.94098 13.008 2.1216 11.7363C0.652572 9.45659 0.253612 7.01469 1.18468 4.44739C2.02649 2.12551 3.66135 0.60698 6.11558 0.131337C8.65956 -0.361451 10.7085 0.553586 12.3355 2.5218C12.4243 2.62908 12.5067 2.74174 12.615 2.88233C12.715 2.75448 12.8013 2.63985 12.892 2.52866C13.8353 1.36918 14.9854 0.520276 16.4563 0.170035C19.0208 -0.440317 21.7438 0.635391 23.225 2.82306C23.9566 3.90317 24.3614 5.09595 24.4921 6.38964C24.5004 6.47341 24.5199 6.5557 24.534 6.63849C24.534 6.99657 24.534 7.35514 24.534 7.7137ZM12.6092 19.8869C12.6701 19.8389 12.7194 19.8032 12.7652 19.7635C14.6488 18.1284 16.5441 16.506 18.4111 14.8523C19.7158 13.6967 20.9561 12.4736 21.9233 11.004C22.8436 9.6055 23.2981 8.08354 23.087 6.39895C22.8592 4.58112 22.0842 3.07141 20.4762 2.12159C18.9779 1.23693 17.3972 1.12818 15.8057 1.89528C14.8649 2.34888 14.1704 3.08855 13.5895 3.94383C13.5066 4.0658 13.432 4.19414 13.3451 4.31366C12.9618 4.84074 12.278 4.83829 11.8888 4.31709C11.5498 3.86349 11.2386 3.38099 10.8524 2.97148C9.60428 1.64791 8.06356 1.13406 6.2858 1.52006C4.36904 1.93643 3.10973 3.15615 2.47228 4.99162C1.73093 7.12491 2.08453 9.13133 3.30823 11.0025C4.06762 12.163 4.99723 13.1799 6.01901 14.1033C7.70801 15.6297 9.43114 17.1183 11.1421 18.6207C11.6254 19.0444 12.1156 19.4613 12.6092 19.8869Z" fill="#E3E3DD"/>
                        </svg>                        
                    </a>
                    <a href="#">
                        {% comment %} <img src="../images/Group (4).png" alt=""> {% endcomment %}
                        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.26543 21.2992C3.01807 21.2465 2.76638 21.2095 2.52423 21.1389C1.01971 20.7017 0.0762914 19.5397 0.0103303 17.9541C-0.0582345 16.308 0.12099 14.6858 0.744149 13.1442C1.14643 12.1491 1.73053 11.2888 2.7091 10.7623C3.31273 10.4376 3.96062 10.2842 4.63802 10.2977C4.85153 10.302 5.07675 10.4106 5.2716 10.5169C5.58578 10.6886 5.8774 10.9018 6.18247 11.0909C7.95648 12.191 9.73092 12.1897 11.5032 11.087C11.7492 10.934 12.0005 10.7858 12.2318 10.6119C12.6558 10.2929 13.1227 10.2528 13.6265 10.3269C15.0022 10.53 15.9738 11.2866 16.6286 12.4939C17.2136 13.5717 17.4766 14.742 17.5937 15.948C17.6541 16.5673 17.6823 17.1927 17.6749 17.8151C17.6528 19.6731 16.383 21.056 14.5426 21.26C14.497 21.2653 14.4528 21.2857 14.4081 21.2988C10.6934 21.2992 6.97921 21.2992 3.26543 21.2992ZM8.83784 20.0514C8.83784 20.0506 8.83784 20.0492 8.83784 20.0484C10.591 20.0484 12.3442 20.0641 14.0969 20.0436C15.5537 20.0266 16.4477 19.0939 16.436 17.6325C16.4316 17.079 16.409 16.5224 16.3483 15.9728C16.2385 14.9852 16.0345 14.0185 15.5576 13.1307C15.0629 12.2102 14.3465 11.6144 13.2676 11.5542C13.1726 11.549 13.062 11.5769 12.9795 11.6253C12.7122 11.783 12.4557 11.9595 12.1927 12.1252C10.233 13.3599 8.20339 13.5159 6.11651 12.4847C5.63004 12.2446 5.18568 11.9186 4.72004 11.6357C4.65148 11.5943 4.56989 11.5429 4.49612 11.5464C3.82609 11.5764 3.22463 11.7878 2.74294 12.2751C2.34327 12.6796 2.0638 13.1647 1.86028 13.692C1.33953 15.0397 1.21412 16.4514 1.2484 17.8783C1.26706 18.6585 1.60251 19.2961 2.2925 19.7054C2.75205 19.9782 3.26108 20.0514 3.7853 20.0514C5.46991 20.051 7.15366 20.0514 8.83784 20.0514Z" fill="#E3E3DD"/>
                        <path d="M13.8148 5.12509C13.8234 7.95459 11.5582 10.2362 8.71535 10.2606C5.91287 10.2846 3.61248 7.98466 3.59772 5.1447C3.5834 2.30387 5.87164 -0.000871441 8.70624 2.47182e-07C11.5352 0.000871935 13.8061 2.27903 13.8148 5.12509ZM8.70537 9.01282C10.8487 9.01412 12.5702 7.28644 12.5723 5.13032C12.5745 2.97638 10.8543 1.24869 8.70667 1.24782C6.5586 1.24695 4.841 2.97115 4.84057 5.12901C4.8397 7.28426 6.55859 9.01151 8.70537 9.01282Z" fill="#E3E3DD"/>
                        </svg>                        
                    </a>
                </div>
                <div class="header-cart-link">
                    <a href="#">
                        {% comment %} <img src="../images/Group (1).png" alt=""> {% endcomment %}
                        <svg width="33" height="39" viewBox="0 0 33 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.48374 9.50725C7.28474 6.60857 8.23448 4.20292 10.3782 2.31175C12.1299 0.76595 14.2058 -0.0140981 16.5378 0.000192852C19.0962 0.0156747 21.2924 0.961259 23.0572 2.82385C24.8101 4.67214 25.6002 6.90153 25.5335 9.46675C25.6693 9.48224 25.7801 9.50486 25.8922 9.50486C26.5762 9.50844 27.2602 9.50367 27.9441 9.50725C29.8496 9.51796 31.2474 10.8125 31.3844 12.7156C31.7252 17.4709 32.0553 22.2286 32.3937 26.9839C32.5856 29.6801 32.7858 32.3763 32.9848 35.0726C33.1278 36.9971 32.1888 38.45 30.4954 38.8775C30.1546 38.9633 29.79 38.9942 29.4373 38.9942C20.8146 39.0002 12.1931 39.0014 3.57041 38.9978C1.3063 38.9966 -0.14154 37.4782 0.0109895 35.2155C0.276724 31.2736 0.5794 27.334 0.861818 23.3933C1.11325 19.8825 1.37065 16.3705 1.60063 12.8585C1.7329 10.8363 3.1021 9.5132 5.13503 9.50844C5.89291 9.50605 6.65079 9.50725 7.48374 9.50725ZM7.54928 12.3631C6.6496 12.3631 5.80473 12.3547 4.96105 12.3666C4.61071 12.3714 4.48439 12.612 4.46175 12.9323C4.3414 14.6663 4.22104 16.3991 4.09592 18.133C3.90168 20.8447 3.70387 23.5552 3.50844 26.2658C3.29037 29.3026 3.07111 32.3394 2.859 35.3774C2.81729 35.9812 2.96625 36.1444 3.54419 36.1444C12.1812 36.1468 20.8182 36.1468 29.4551 36.1444C30.0212 36.1444 30.1797 35.9836 30.1415 35.4215C30.02 33.6137 29.8865 31.8059 29.7566 29.9993C29.5016 26.4432 29.2442 22.8883 28.9904 19.3323C28.8379 17.1993 28.6973 15.064 28.5209 12.9335C28.5042 12.737 28.273 12.4047 28.1253 12.3964C27.2733 12.3452 26.4177 12.3714 25.5323 12.3714C25.5323 12.5905 25.5323 12.7513 25.5323 12.9133C25.5323 15.0676 25.5347 17.222 25.5299 19.3763C25.5287 20.0885 25.1998 20.6006 24.6254 20.8233C23.6543 21.2008 22.6855 20.4839 22.6795 19.3609C22.67 17.2065 22.6759 15.0521 22.6759 12.8978C22.6759 12.7275 22.6759 12.5572 22.6759 12.3869C18.5243 12.3869 14.4429 12.3869 10.3198 12.3869C10.3198 12.5869 10.3198 12.762 10.3198 12.9359C10.3198 15.0605 10.3175 17.1851 10.321 19.3096C10.3222 19.9563 10.1018 20.4755 9.49999 20.7733C8.51928 21.2568 7.45872 20.5303 7.47064 19.3835C7.49209 17.2148 7.52188 15.045 7.5469 12.8763C7.55048 12.7168 7.54928 12.5584 7.54928 12.3631ZM22.6795 9.48938C22.7391 6.90987 21.7524 4.90675 19.5348 3.66463C17.2552 2.38797 14.9505 2.53922 12.8306 4.0755C11.0169 5.38907 10.2352 7.23737 10.3318 9.48938C14.4608 9.48938 18.5398 9.48938 22.6795 9.48938Z" fill="#E3E3DD"/>
                        </svg>                        
                        </a>
                </div>
            </div>
        </div>
    </div>
</header>


<script>
        document.addEventListener('DOMContentLoaded', function() {
    const header = document.getElementById('fixedHeader');
    
        window.addEventListener('scroll', function() {
            if (window.scrollY > 0) {
            header.classList.add('scrolled');
            } else {
            header.classList.remove('scrolled');
            }
        });
    });
</script>

{% schema %}
{
    "name": "Header Custom",
    "settings": [
            { 
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            }
        ],
        "presets": [
            {
                "name": "Header Custom"
            }
        ]
        
}
{% endschema %}