.index-cycle-section {
  background-color: #EBEFF3;
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider {
  height: 500px;
}
@media (max-width: 991px) {
  .index-cycle-section .index-cycle-slider .wrap-cycle-slider {
    height: 540px;
  }
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 30px 100px;
}
@media (max-width: 991px) {
  .index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block {
    padding: 30px;
  }
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .top-content .heading {
  font-family: "Helvetica Neue LT Pro Roman";
  font-size: 36px;
  color: #F4F6F8;
  margin: 0;
}
@media (max-width: 767px) {
  .index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .top-content .heading {
    font-size: 20px;
  }
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .top-content .sub-heading {
  font-family: "Helvetica Neue LT Pro";
  color: #F4F6F8;
  font-size: 24px;
}
@media (max-width: 767px) {
  .index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .top-content .sub-heading {
    font-size: 16px;
  }
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .middle-content .main-title {
  font-family: "Helvetica Neue LT Pro Roman";
  font-size: 96px;
  color: #F4F6F8;
}
@media (max-width: 767px) {
  .index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .middle-content .main-title {
    font-size: 48px;
  }
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .middle-content .text {
  font-family: "Helvetica Neue LT Pro";
  font-size: 24px;
  color: #F4F6F8;
}
@media (max-width: 767px) {
  .index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .middle-content .text {
    font-size: 20px;
  }
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .bottom-content .link_btn {
  display: inline-flex;
  font-size: 20px;
  font-family: "PP Supply Sans";
  color: #F4F6F8;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  align-items: center;
}
@media (max-width: 767px) {
  .index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .bottom-content .link_btn {
    font-size: 16px;
  }
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .bottom-content .link_btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 0;
  height: 2px; /* Height of the border */
  background-color: #F4F6F8; /* Border color */
  transition: width 0.3s ease;
  border-bottom: 3px dashed;
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .bottom-content .link_btn:after {
  content: "";
  background: #F4F6F8;
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 10px;
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .bottom-content .link_btn:hover {
  color: #95BBCC;
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .bottom-content .link_btn:hover:before {
  width: 100%;
  left: 0;
  background: #95BBCC;
}
.index-cycle-section .index-cycle-slider .wrap-cycle-slider .content-block .bottom-content .link_btn:hover:after {
  background: #95BBCC;
}
.index-cycle-section .index-cycle-slider .slick-prev {
  z-index: 1;
  left: 85%;
  top: 90%;
  transform: translateY(-10%);
  z-index: 5;
}
@media (max-width: 991px) {
  .index-cycle-section .index-cycle-slider .slick-prev {
    left: 82%;
  }
}
@media (max-width: 767px) {
  .index-cycle-section .index-cycle-slider .slick-prev {
    left: 75%;
  }
}
.index-cycle-section .index-cycle-slider .slick-prev:before {
  content: none;
}
.index-cycle-section .index-cycle-slider .slick-next {
  z-index: 1;
  right: 10%;
  top: 90%;
  transform: translateY(-10%);
  z-index: 5;
}
.index-cycle-section .index-cycle-slider .slick-next:before {
  content: none;
}

.block-full-newslettter-block {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  /* display: none; */
  opacity: 0;
  transition: 0.3s all ease-in;
  background-color: rgba(0, 0, 0, 0.3137254902);
}
.block-full-newslettter-block .wrap-newsletter-popup {
  background-color: #dbedf5;
  max-width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 100%;
  /* opacity: 0; */
  /* transition: .3s all ease-in; */
  z-index: 9999;
  display: flex;
}
@media (max-width: 991px) {
  .block-full-newslettter-block .wrap-newsletter-popup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 75%;
  }
}
@media (max-width: 576px) {
  .block-full-newslettter-block .wrap-newsletter-popup {
    width: 90%;
  }
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick {
  background-color: #151A1D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
@media (max-width: 576px) {
  .block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick {
    max-width: 100%;
  }
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick .close-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick h2 {
  font-size: 32px;
  font-family: "Helvetica Neue LT Pro Roman";
  color: #F4F6F8;
}
@media (max-width: 576px) {
  .block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick h2 {
    font-size: 24px;
  }
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick .text {
  font-size: 24px;
  font-family: "Helvetica Neue LT Pro";
  color: #F4F6F8;
}
@media (max-width: 576px) {
  .block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick .text {
    font-size: 18px;
  }
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick form {
  padding: 35px 0 !important;
}
@media (max-width: 576px) {
  .block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick form {
    padding: 20px 0 !important;
  }
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick .klaviyo-form {
  background-color: transparent !important;
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick .klaviyo-form input {
  background-color: #F4F6F8 !important;
  font-family: "Helvetica Neue LT Pro" !important;
  font-weight: 300 !important;
  color: #15242A !important;
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick .klaviyo-form input::placeholder {
  color: #15242A !important;
  font-family: "Helvetica Neue LT Pro" !important;
  font-weight: 300 !important;
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick .terms {
  color: #F4F6F8;
  font-family: "Helvetica Neue LT Pro";
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick .terms a {
  text-decoration: underline;
  color: #F4F6F8;
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick button {
  background: transparent !important;
  position: absolute;
  right: 200%;
  color: #95BBCC !important;
  white-space: nowrap !important;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick button:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -1px;
  width: 0;
  height: 2px; /* Height of the border */
  background-color: #95BBCC; /* Border color */
  transition: width 0.3s ease;
  border-bottom: 3px dashed;
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick button:after {
  content: "";
  background: #95BBCC;
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 10px;
}
.block-full-newslettter-block .wrap-newsletter-popup .newsletter-content-wrap-stick button:hover:before {
  width: 100%;
  left: 0;
}
.block-full-newslettter-block .wrap-newsletter-popup .image-block img {
  display: block;
}
@media (max-width: 991px) {
  .block-full-newslettter-block .wrap-newsletter-popup .image-block img {
    width: 100%;
    object-fit: cover;
    height: 250px;
  }
}

.newsletter-content-wrap {
  background-color: #151A1D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  width: 100%;
}
@media (max-width: 767px) {
  .newsletter-content-wrap {
    padding: 20px 0;
  }
}
.newsletter-content-wrap h2 {
  font-size: 24px;
  font-family: "Helvetica Neue LT Pro Roman";
  color: #F4F6F8;
  margin-bottom: 0;
  margin-top: 0;
}
.newsletter-content-wrap form {
  padding: 10px 0 !important;
}
.newsletter-content-wrap .klaviyo-form {
  background-color: transparent !important;
  margin-right: auto;
  width: 100%;
  max-width: 350px;
}
.newsletter-content-wrap .klaviyo-form input {
  background-color: #F4F6F8 !important;
  font-family: "Helvetica Neue LT Pro" !important;
  font-weight: 300 !important;
  color: #15242A !important;
}
.newsletter-content-wrap .klaviyo-form input::placeholder {
  color: #15242A !important;
  font-family: "Helvetica Neue LT Pro" !important;
  font-weight: 300 !important;
}
.newsletter-content-wrap button {
  background: transparent !important;
  position: absolute;
  right: 200%;
  color: #95BBCC !important;
  white-space: nowrap !important;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.newsletter-content-wrap button:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -1px;
  width: 0;
  height: 2px; /* Height of the border */
  background-color: #95BBCC; /* Border color */
  transition: width 0.3s ease;
  border-bottom: 3px dashed;
}
.newsletter-content-wrap button:after {
  content: "";
  background: #95BBCC;
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 10px;
}
.newsletter-content-wrap button:hover:before {
  width: 100%;
  left: 0;
}

.overview-processes-section .light-mode .heading {
  color: #151A1D;
}
.overview-processes-section .light-mode .text {
  color: #151A1D;
}
.overview-processes-section .light-mode .slider-processes .swiper-slider-content .swiper-slider-col-right span {
  color: #151A1D;
  border: 2px solid #151A1D;
}
.overview-processes-section .light-mode .slider-processes .swiper-slider-content .swiper-slider-col-right .slide-content {
  color: #151A1D;
}
.overview-processes-section .light-mode .slider-processes .swiper-slider-content .swiper-slider-col-right p {
  color: #151A1D;
}
.overview-processes-section .overview-processes-top {
  padding: 65px 20px 65px 65px;
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .overview-processes-section .overview-processes-top {
    padding: 50px 30px;
    margin-top: 50px;
  }
}
.overview-processes-section .overview-processes-top .heading {
  font-family: "Helvetica Neue LT Pro Roman";
  font-size: 36px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .overview-processes-section .overview-processes-top .heading {
    font-size: 20px;
  }
}
.overview-processes-section .overview-processes-top .text {
  font-family: "Helvetica Neue LT Pro";
  font-size: 24px;
}
@media (max-width: 767px) {
  .overview-processes-section .overview-processes-top .text {
    font-size: 16px;
  }
}
.overview-processes-section .slider-processes .swiper-slider-content .swiper-slider-col-right .slide-content {
  font-family: "Helvetica Neue LT Pro Roman";
  font-size: 32px;
}
.overview-processes-section .slider-processes .swiper-slider-content .swiper-slider-col-right p {
  font-family: "Helvetica Neue LT Pro";
  font-size: 16px;
}

.technology-two-block-section {
  padding: 90px;
}
@media (max-width: 1440px) {
  .technology-two-block-section {
    padding: 40px;
  }
}
.technology-two-block-section .wrap-technology-block-section .top-content-block .heading {
  font-family: "Helvetica Neue LT Pro Roman";
  font-size: 36px;
  color: #151A1D;
  margin-bottom: 15px;
}
.technology-two-block-section .wrap-technology-block-section .top-content-block .text {
  font-family: "Helvetica Neue LT Pro";
  font-size: 24px;
}
@media (max-width: 1240px) {
  .technology-two-block-section .wrap-technology-block-section .top-content-block .text {
    font-size: 20px;
  }
}
.technology-two-block-section .wrap-technology-block-section .top-content-block .text .linked-drophover {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 24px;
  color: #000000;
  border-bottom: 1px dashed;
  padding-bottom: 0px;
  font-family: "PP Supply Sans";
}
@media (max-width: 1240px) {
  .technology-two-block-section .wrap-technology-block-section .top-content-block .text .linked-drophover {
    font-size: 20px;
  }
}
.technology-two-block-section .wrap-technology-block-section .top-content-block .text .linked-drophover::after {
  content: none;
}
.technology-two-block-section .wrap-technology-block-section .top-content-block .text .linked-drophover:hover {
  color: #95BBCC;
}
.technology-two-block-section .wrap-technology-block-section .column-block {
  margin-top: 90px;
  display: flex;
  column-gap: 50px;
}
@media (max-width: 1440px) {
  .technology-two-block-section .wrap-technology-block-section .column-block {
    margin-top: 40px;
  }
}
@media (max-width: 900px) {
  .technology-two-block-section .wrap-technology-block-section .column-block {
    flex-wrap: wrap;
  }
}
.technology-two-block-section .wrap-technology-block-section .column-block .wrapper {
  flex: 50%;
}
@media (max-width: 900px) {
  .technology-two-block-section .wrap-technology-block-section .column-block .wrapper {
    flex: 100%;
    margin-bottom: 40px;
  }
}
.technology-two-block-section .wrap-technology-block-section .column-block .wrapper .image img {
  width: 100%;
}
.technology-two-block-section .wrap-technology-block-section .column-block .wrapper .content {
  display: flex;
  gap: 45px;
  margin-top: 15px;
}
.technology-two-block-section .wrap-technology-block-section .column-block .wrapper .content .count {
  font-family: "PP Supply Sans";
  font-weight: 500;
  font-size: 16px;
}
.technology-two-block-section .wrap-technology-block-section .column-block .wrapper .content .text {
  font-family: "Helvetica Neue LT Pro";
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 1240px) {
  .technology-two-block-section .wrap-technology-block-section .column-block .wrapper .content .text {
    font-size: 18px;
  }
}

.technology-blurb-section {
  background-color: #EBEFF3;
  padding: 90px;
}
@media (max-width: 1440px) {
  .technology-blurb-section {
    padding: 40px;
  }
}
.technology-blurb-section .wrap-blurb-section .top-content-block .heading {
  font-family: "Helvetica Neue LT Pro Roman";
  font-size: 36px;
  color: #151A1D;
  margin-bottom: 15px;
}
.technology-blurb-section .wrap-blurb-section .top-content-block .text {
  font-family: "Helvetica Neue LT Pro";
  font-size: 24px;
}
@media (max-width: 1240px) {
  .technology-blurb-section .wrap-blurb-section .top-content-block .text {
    font-size: 20px;
  }
}
.technology-blurb-section .wrap-blurb-section .column-block {
  margin-top: 90px;
  display: flex;
  column-gap: 50px;
}
@media (max-width: 1040px) {
  .technology-blurb-section .wrap-blurb-section .column-block {
    flex-wrap: wrap;
    column-gap: 30px;
  }
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper {
  flex: 33.33%;
}
@media (max-width: 1040px) {
  .technology-blurb-section .wrap-blurb-section .column-block .wrapper {
    flex: 0 0 50%;
    flex-basis: calc(50% - 15px);
    margin-bottom: 30px;
  }
}
@media (max-width: 746px) {
  .technology-blurb-section .wrap-blurb-section .column-block .wrapper {
    flex: 100%;
  }
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image {
  position: relative;
  overflow: hidden;
  clip-path: inset(5px);
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image img {
  width: 100%;
  display: block;
  transition: all 0.5s ease;
  filter: blur(5px);
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image:hover img {
  transform: scale(1.2);
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content {
  margin-top: 15px;
  padding: 15px 25px;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 35px;
  flex-direction: column;
  justify-content: center;
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content .text {
  font-family: "Helvetica Neue LT Pro";
  font-size: 24px;
  font-weight: 300;
  color: #F4F6F8;
}
@media (max-width: 1240px) {
  .technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content .text {
    font-size: 20px;
  }
}
@media (max-width: 746px) {
  .technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content .text {
    font-size: 22px;
  }
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content a {
  display: inline-flex;
  font-size: 20px;
  color: #f4f6f8;
  font-family: "PP Supply Sans";
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  align-items: center;
  width: max-content;
}
@media (max-width: 1240px) {
  .technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content a {
    font-size: 18px;
  }
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content a:hover {
  color: #95BBCC;
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content a:hover:before {
  width: 100%;
  left: 0;
  background-color: #95BBCC;
}
.technology-blurb-section .wrap-blurb-section .column-block .wrapper .image .content a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 0;
  height: 2px; /* Height of the border */
  background-color: #f4f6f8; /* Border color */
  transition: width 0.3s ease;
  border-bottom: 3px dashed;
}

.technology-cycle-section {
  background-color: #EBEFF3;
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider {
  height: 600px;
}
@media (max-width: 991px) {
  .technology-cycle-section .technology-cycle-slider .wrap-cycle-slider {
    height: 540px;
  }
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 30px 100px;
}
@media (max-width: 1440px) {
  .technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block {
    padding: 40px;
  }
}
@media (max-width: 991px) {
  .technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block {
    padding: 30px;
  }
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .main-title {
  font-family: "Helvetica Neue LT Pro Roman";
  font-size: 64px;
  color: #F4F6F8;
}
@media (max-width: 767px) {
  .technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .main-title {
    font-size: 48px;
  }
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .text {
  font-family: "Helvetica Neue LT Pro";
  font-size: 24px;
  color: #F4F6F8;
  margin: 25px 0;
}
@media (max-width: 1240px) {
  .technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .text {
    font-size: 20px;
  }
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .link_btn {
  display: inline-flex;
  font-size: 20px;
  font-family: "PP Supply Sans";
  color: #F4F6F8;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  align-items: center;
}
@media (max-width: 767px) {
  .technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .link_btn {
    font-size: 16px;
  }
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .link_btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 0;
  height: 2px; /* Height of the border */
  background-color: #F4F6F8; /* Border color */
  transition: width 0.3s ease;
  border-bottom: 3px dashed;
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .link_btn:after {
  content: "";
  background: #F4F6F8;
  width: 15px;
  height: 15px;
  display: block;
  margin-left: 10px;
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .link_btn:hover {
  color: #95BBCC;
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .link_btn:hover:before {
  width: 100%;
  left: 0;
  background: #95BBCC;
}
.technology-cycle-section .technology-cycle-slider .wrap-cycle-slider .content-block .content .link_btn:hover:after {
  background: #95BBCC;
}
.technology-cycle-section .technology-cycle-slider .slick-prev {
  z-index: 1;
  left: 85%;
  top: 90%;
  transform: translateY(-10%);
  z-index: 5;
}
@media (max-width: 991px) {
  .technology-cycle-section .technology-cycle-slider .slick-prev {
    left: 82%;
  }
}
@media (max-width: 767px) {
  .technology-cycle-section .technology-cycle-slider .slick-prev {
    left: 75%;
  }
}
.technology-cycle-section .technology-cycle-slider .slick-prev:before {
  content: none;
}
.technology-cycle-section .technology-cycle-slider .slick-next {
  z-index: 1;
  right: 10%;
  top: 90%;
  transform: translateY(-10%);
  z-index: 5;
}
.technology-cycle-section .technology-cycle-slider .slick-next:before {
  content: none;
}

.vertical-slider {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .vertical-slider {
    padding: 0 30px;
    flex-direction: column-reverse;
    margin: 0 auto 20px;
    height: auto;
  }
}
.vertical-slider .text-column {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media screen and (max-width: 991px) {
  .vertical-slider .text-column {
    height: auto;
    scroll-snap-type: y mandatory;
  }
}
.vertical-slider .text-column .text-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  scroll-snap-align: start;
  box-sizing: border-box;
}
@media screen and (max-width: 991px) {
  .vertical-slider .text-column .text-section {
    padding: 0;
    height: auto;
  }
}
.vertical-slider .text-column .text-section h1 {
  font-size: 64px;
  margin-bottom: 24px;
  font-family: "Helvetica Neue LT Pro Roman";
}
@media screen and (max-width: 991px) {
  .vertical-slider .text-column .text-section h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 567px) {
  .vertical-slider .text-column .text-section h1 {
    font-size: 40px;
  }
}
.vertical-slider .text-column .text-section .text {
  font-size: 24px;
  font-family: "Helvetica Neue LT Pro";
  line-height: 1.6;
}
@media screen and (max-width: 991px) {
  .vertical-slider .text-column .text-section .text {
    font-size: 20px;
  }
}
@media screen and (max-width: 567px) {
  .vertical-slider .text-column .text-section .text {
    font-size: 18px;
  }
}
.vertical-slider .text-column .text-section .text a {
  color: #F4F6F8;
  position: relative;
}
.vertical-slider .text-column .text-section .text a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 0;
  height: 1px; /* Height of the border */
  background-color: #F4F6F8; /* Border color */
  transition: width 0.3s ease;
  border-bottom: 1px dashed;
}
.vertical-slider .text-column .text-section .text a:hover {
  color: #95BBCC;
}
.vertical-slider .text-column .text-section .text a:hover:before {
  width: 100%;
  left: 0;
  background: #95BBCC;
}
.vertical-slider .text-column .text-section .text a strong {
  font-family: "PP Supply Sans";
}
.vertical-slider .text-column .down-arrow {
  position: absolute;
  bottom: 80px;
  left: 10%;
  font-size: 2em;
  cursor: pointer;
  color: #fff;
  opacity: 1;
  display: none;
}
@media screen and (max-width: 991px) {
  .vertical-slider .text-column .down-arrow {
    display: none !important;
  }
}
.vertical-slider .text-column .down-arrow.visible {
  display: block;
}
.vertical-slider .image-column {
  flex: 1;
  position: sticky;
  top: 0;
  height: 85vh;
  /* padding: 5%; */
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .vertical-slider .image-column {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0;
  }
}
.vertical-slider .image-column .wrap-image-container {
  display: grid;
  grid-template-columns: repeat(3, 235px);
  grid-template-rows: repeat(3, 235px);
  gap: 10px;
  margin-top: 60px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .vertical-slider .image-column .wrap-image-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .vertical-slider .image-column .wrap-image-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.vertical-slider .image-column .wrap-image-container .image-item {
  width: 235px;
  height: 235px;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .vertical-slider .image-column .wrap-image-container .image-item {
    width: 100%;
    height: 100%;
  }
}
.vertical-slider .image-column .wrap-image-container .image-item img {
  width: 100%;
  height: 100%;
}
.vertical-slider .image-column .wrap-image-container .pop-image {
  position: absolute;
  visibility: hidden;
  z-index: -999;
}
.vertical-slider .image-column .wrap-image-container .fullscreen {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 0;
  object-fit: cover;
  object-position: center;
  display: block;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out forwards;
  visibility: visible;
}
.vertical-slider .image-column .wrap-image-container .close-btn {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  z-index: 20;
}
.vertical-slider .image-column .wrap-image-container .close-btn.visible {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=new-theme-style.css.map */
