<div class="cart-menu-hover">
    <div class="small-cart-on-hover">

    </div>
    <div class="cart-menu-hover-button">
        <button onclick="document.location.href='/checkout'">checkout<i></i></button>
    </div>
</div>