<section class="image-blurb-block" style="background-color:{{ section.settings.bg_color }};{% if section.settings.no_border %} border-top:0;{% endif %}">
    <div class="wrap-blurb-text">
        <div class="image-column">
            <img src="{{  section.settings.image | img_url: 'master' }}" alt="">
        </div>
        <div class="content-column">
            <div class="content">
                <h2 class="heading">
                    {{  section.settings.heading }}
                </h2>
                <div class="text">
                    {{  section.settings.text }}
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Image Blurb Block",
  "settings": [
    {
        "type": "color",
        "id": "bg_color",
        "label": "Text Background Color"
        
      },
    {
        "type": "checkbox",
        "id": "no_border",
        "label": "remove top border",
        "default":false
      },
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
   
  ],
  
  "presets": [
    {
      "name": "Image Blurb Block",
    }
  ]
}
{% endschema %}