<style>
    ul.menuListTopLTL { margin: 0;}
    .menuListTopLTL li { float: left; width: 16.6%; list-style: none!important; border: 2px solid #000; text-align: center;}
    .menuListTopLTL li:hover { background-color: #000000; color:#ffffff;}
    .ltlWidth100{width: 100%; float: left; padding: 25px 0;}
    .ltlWidth90{width: 90%; float: left;}  
    .ltlWidth80{width: 80%; float: left;}
    .ltlWidth75{width: 75%; float: left;}  
    .ltlWidth65{width: 65%; float: left;}  
    .ltlWidth60{width: 60%; float: left;}
    .ltlWidth50{width: 50%; float: left;}
    .ltlWidth40{width: 40%; float: left;}
    .ltlWidth33{width: 33.33%; float: left;}
    .ltlWidth35{width: 35%; float: left;}
    .ltlWidth30{width: 30%; float: left;}
    .ltlWidth25{width: 25%; float: left;}
    .ltlWidth20{width: 20%; float: left;}
    .ltlWidth10{width: 10%; float: left;}
    .selBoxBTN{width: 20%; float: left; background: #ffffff; transition: background-color 1s ease-out 100ms; /*margin: 30px 0px;*/}
    .selBoxBTN:hover{background-color: #CE816C;}
    .selBoxBTN p { padding: 0 15px; text-align: center;}
    .ltlWidth16{width: 16.6%; float: left; background: #ffffff; transition: background-color 1s ease-out 100ms; /*margin: 30px 0px;*/}
    .ltlWidth16 p { padding: 0 10px; text-align: center;}
    .ltlWidth16:hover{background-color: #CE816C;}
  
    ul.menuListTop { margin: 0;}
    .menuListTop li { float: left; width: 100%; list-style: none!important; border-top: 1px solid #000; text-align: left; padding: 5px 0; text-transform: uppercase;}
    .menuListTop li:hover { color: #ffffff; background-color: #000000;}
    select.goog-te-combo {width: 100%;}
    img.wid20IMG { width: 100%; padding: 10px;}
    img.ltlIMG { width: 100%; padding: 15px;}
    button.trackOrderBTN { background-color: #CE816C; padding: 0 25px; font-size: 19px; border-radius: 15px; }
    button.trackOrderBTN:hover { background-color: #000000; color: #ffffff;}
    .rte a:not(.btn) { border-bottom: none!important;}
    
    /* Info Page Layout */
    .infoCircle { border-radius: 50%; width: 45px; height: 45px; padding: 2px; background: #fff; border: 3px solid #CE816C; color: #000; text-align: center; font: 32px Arial, sans-serif; margin:0 suto;}
    .infoBoxes { padding: 15px; border: 1px solid #f0f0f0; margin: 10px; height: 360px; width: 31%; float: left;}
  
    @media only screen and (max-width: 1230px) {
        .ltlWidth16{width: 15.6%;}
    }
    @media only screen and (max-width: 1600px) {
        .infoBoxes { height: 415px;}
    }
    @media only screen and (max-width: 1160px) {
    .menuListTopLTL li { padding: 15px 1%; height: 56px; }
    }
    @media only screen and (max-width: 1095px) {
    .infoBoxes {width: 47%;}
    }

    @media only screen and (max-width: 985px) {
        .ltlWidth80{width: 100%;}
        .ltlWidth80{width: 33.33%; }
        .ltlWidth65{width: 100%;}
        .ltlWidth50{width: 50%;}
        /*.ltlWidth40{width: 50%;}
        .ltlWidth30{width: 50%;}*/
        .ltlWidth35{width: 100%;}
        .ltlWidth20{width: 33.33%;}
        .ltlWidth16{width: 33.33%;}
        .infoBoxes {height: 333px;}
    }
    @media only screen and (max-width: 789px) {
        .ltlWidth16{width: 32.33%;}
    }
    @media only screen and (max-width: 770px) {
        .ltlWidth75{width: 50%;}
        .ltlWidth50{width: 100%; }
        .ltlWidth40{width: 100%;}
        .ltlWidth30{width: 100%;}
        .ltlWidth33{width: 50%;}
        .ltlWidth16{width: 50%;}
        .menuListTopLTL li { float: left; width: 33.33%; padding: 17px 0; margin: 5px 0;  }
        .goog-te-gadget img {width: 30px;}
        .infoBoxes { width: 100%; height: auto; margin: 10px 1px;}
        .infoCircle { margin-bottom:10px; }
    }
    @media only screen and (max-width: 500px) {
        .ltlWidth33{width: 100%;} 
        .ltlWidth80{width: 25%; }
        .ltlWidth75{width: 100%;}  
        .ltlWidth30{width: 100%;}
        /*.ltlWidth20{width: 25%;}*/
    }
    @media only screen and (max-width: 500px) {
        .ltlWidth20{width: 50%;}
        .ltlWidth10{width: 100%;}
    }
    @media only screen and (max-width: 275px) {
        .menuListTopLTL li { float: left; width: 50%;  }
        .ltlWidth20{width: 100%;}
         
        
    }
  
</style>
<div class="IGDWidth100" style="margin:50px 0 ;">
    <div class="IGDWidth50">
        <p style="text-align:center ;">You can translate the content of this page by selecting a language in the select box.</p>
    </div>
    <div class="IGDWidth50">
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
        </script>
        <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
    </div>
</div>
<div class="ltlWidth100">
    <ul class="menuListTopLTL">
      <a href="https://pinkysirondoors.com/pages/info"><li>Info</li></a>
      <a href="https://pinkysirondoors.com/pages/receiving"><li>Receiving </li></a>
      <a href="https://pinkysirondoors.com/pages/storage"><li>Storage</li></a>
      <!-- a href="https://pinkysirondoors.com/pages/notes-and-tools"><li>Instal Notes and Tools</li></a -->
      <a href="https://pinkysirondoors.com/pages/instal-guide-update"><li>Installation</li></a>
      <a href="https://pinkysirondoors.com/pages/maintenance"><li>Maintenance</li></a>
      <a href="https://pinkysirondoors.com/pages/install-faq"><li>FAQs</li></a>
    </ul>    
</div>

