<div class="instCont"><!-- Page 01 -->
    <div class="pageinst">
        <p>Please click on the button below if you would like to print the PDF instructional Guide.</p>
        <div>
            <div style="text-align: center; padding-bottom: 40px;">
                <a href="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/Pinkys_Iron_Doors_InstallationGuide__2022-Feb-09_compressed.pdf" target="_blank" rel="noopener noreferrer">
                    <div class="btn small--one-whole" id="klaviyo-popup-Subscribe">
                        <span>Download Printable Instructions</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="fif">
            <a href="https://pinkysirondoors.com/pages/installation-guide-single-doors"> 
                <img alt="Single Door Installation Icon" class="lazyload hs-lazyload hs-id-4d2ae305" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/IG-Pg001___installguide-SingleDoor.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                <h5 align="center">Single Door</h5>
            </a>
        </div>
        <div class="fif">
            <a href="https://pinkysirondoors.com/pages/installation-guide-double-doors"> 
                <img alt="Double Door Installation Icon" class="lazyload hs-lazyload hs-id-79ee5312" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/IG-Pg001___installguide-DoubleDoor.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                <h5 align="center">Double Door</h5>
            </a>
        </div>
        <div class="fif">
            <a href="https://pinkysirondoors.com/pages/installation-guide-bi-fold-door"> <img alt="Bi-Fold Installation Icon" class="lazyload hs-lazyload hs-id-7365f4d2" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/IG-Pg001___installguide-Bi-Fold.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
            <h5 align="center">Bi-Fold Doors</h5>
            </a>
        </div>
        <div class="fif">
            <a href="https://pinkysirondoors.com/pages/installation-guide-barn-doors"> 
                <img alt="Barn Door Installation Icon" class="lazyload hs-lazyload hs-id-6697fb32" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/IG-Pg001___installguide-BarnDoor.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                <h5 align="center">Barn Doors</h5>
            </a>
        </div>
        <div class="fif">
            <a href="https://pinkysirondoors.com/pages/installation-guide-transom"> 
                <img alt="Transom Installation Icon" class="lazyload hs-lazyload hs-id-53a49c90" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/IG-Pg001___installguide-Transoms.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                <h5 align="center">Transoms</h5>
            </a>
        </div>
        <div class="fif">
            <a href="https://pinkysirondoors.com/pages/installation-guide-sidelights"> 
                <img alt="Sidelights Installation Icon" class="lazyload hs-lazyload hs-id-18d02ac3" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/IG-Pg001___installguide-Sidelights.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                <h5 align="center">Sidelights</h5>
            </a>
        </div>
     </div>
</div>
