
<div class="instCont">
    <div class="pageinst">
        <h3 align="center">Need Help?</h3>
        <h4 align="center">If you need installation assistance, please contact us at: <a href="mailto:support@Pinkys.com">support@Pinkys.com</a> or (844) 843-6677</h4>
        <p>We provide free remote support only and will not come out to job sites. If you have any installation issues or questions, please send us an email with all necessary (well-lit &amp; quality) photos along with an explanation regarding the issue. One of our technicians will review your inquiry and guide you through email or phone.</p>
    </div>
</div>
<!-- Start of Social Feedback Info -->
<div class="socialboxCont">
    <div class="pageinst">
        <h2 align="center">We'd like to know what you think</h2>
        <center>
            <img alt="Five Gold Stars" class="socialstar lazyload hs-lazyload hs-id-8dab31ea" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/iCon__FiveStars.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
        </center>
        <br />
        <p>We'd love to hear your thoughts, so please take a moment to share your feedback and photos of your projects with us.</p>
    </div>
    <a id="social-share"></a>
    <div class="socialbox">
        <div class="pageinst">
            <!-- start Social -->
        <div class="socialdualbox">
            <a href="https://www.yelp.com/biz/pinky-s-iron-doors-vernon" target="_blank" rel="noopener noreferrer">
                <div class="social20">
                    <img alt="Yelp Circle Logo" class="socialimg lazyload hs-lazyload hs-id-60e97d03" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/iCon__Yelp-500x500.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                </div>
                <div class="social80">
                    <div style="text-align: center; padding-bottom: 40px;">
                        <div class="btn small--one-whole" id="klaviyo-popup-Subscribe">
                            <span>Write a Review</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="socialdualbox">
            <a href="https://g.page/pinkysdoors/review?rc" target="_blank" rel="noopener noreferrer">
                <div class="social20">
                    <img alt="Google G Logo" class="socialimg lazyload hs-lazyload hs-id-927a15a4" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/iCon__Google-500x500.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                </div>
                <div class="social80">
                    <div style="text-align: center; padding-bottom: 40px;">
                        <div class="btn small--one-whole" id="klaviyo-popup-Subscribe">
                            <span>Write a Review</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="socialdualbox">
            <a href="https://www.facebook.com/pinkysirondoors/reviews/?ref=page_internal" target="_blank" rel="noopener noreferrer">
            <div class="social20">
                <img alt="Facebook Circle Logo" class="socialimg lazyload hs-lazyload hs-id-aec15354" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/iCon__Facebook-500x500.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
            </div>
            <div class="social80">
                <div style="text-align: center; padding-bottom: 40px;">
                    <div class="btn small--one-whole" id="klaviyo-popup-Subscribe">
                        <span>Write a Review</span>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <!-- End Social --></div>
    </div>
    <div class="pageinst">
    <p>Have pictures of a project in progress? Send them our way, there's nothing like a good makeover story.</p>
    </div>
    <div class="socialbox">
        <div class="pageinst">
            <div class="socialdualbox">
                <a id="mysocialBtn">
                    <div class="social20">
                        <img alt="Pinky's Iron Doors Logo" class="socialimg lazyload hs-lazyload hs-id-e49cd940" data-src="https://cdn.shopify.com/s/files/1/0036/1745/6237/files/iCon__Pinkys-500x500.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                    </div>
                    <div class="social80">
                        <div style="text-align: center; padding-bottom: 40px;">
                            <div class="btn small--one-whole" id="klaviyo-popup-Subscribe">
                                <span>Drop files here</span>
                            </div>
                            <!-- Trigger/Open The Modal -->
                            <!-- button id="mysocialBtn" class="btn small--one-whole">Drop Files Here</button -->

                            <!-- The Modal -->
                            <div id="mysocialModal" class="socialmodal">

                            <!-- Modal content -->
                            <div class="socialmodal-content">
                                <span class="socialclose">&times;</span>
                                <div style="margin: 0 auto;" class="pxFormGenerator" id="4tVvN5BTE5yuFVgmGODViQ"></div>
                            </div>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="pageinst">
        <div class="socialthank">
            <p align="center">
                Tag us on Instagram with <a href="https://www.instagram.com/pinkysirondoors/"> #pinkysirondoors </a> <br /> Thank you and we appreciate you!
            </p>
            <p align="right">
                -Pinky's
            </p>
        </div>
    </div>
</div>

<script>
// Get the modal
var socialmodal = document.getElementById("mysocialModal");

// Get the button that opens the modal
var btn = document.getElementById("mysocialBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("socialclose")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    socialmodal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    socialmodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == socialmodal) {
    socialmodal.style.display = "none";
    }
}
</script>