<div id="question--color" class="regular-mfp-popup rte">
  {% include 'question-color', type: product.type %}
</div>

{% schema %}
  {
    "name": "Color Popup",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
