<div id="question--glass" class="regular-mfp-popup rte">
  {% include 'question-glass' %}
</div>

{% schema %}
  {
    "name": "Glass Popup",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
