<div id="question--screen" class="regular-mfp-popup rte">
  {{ pages.pdp-screen.content }}
</div>

{% schema %}
  {
    "name": "Screen Popup",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
