<div id="question--size" class="regular-mfp-popup rte">
  {% include 'question-size' %}
</div>
{% schema %}
  {
    "name": "Size Popup",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
