<div id="question--swing" class="regular-mfp-popup rte">
  {% include 'question-swing', title: product.title, type: product.type %}
</div>

{% schema %}
  {
    "name": "Swing Popup",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
