<div id="question--jamb" class="regular-mfp-popup rte">
  {% include 'question-jamb', type: product.type %}
</div>

{% schema %}
  {
    "name": "Jamb Popup",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
