<div id="question--lock-compatibility" class="regular-mfp-popup rte">
{% include 'question-lock-compatibility', type: product.type %}
</div>
{% schema %}
  {
    "name": "Lock Compatibility",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
