{% stylesheet %}
.buttons a{
    display: inline-flex;
  align-items: center;
  /* background-color: #4dc1ef; */
  border: 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  /* padding: 0.625em 1.25em; */
  /* text-decoration: underline; */
  transition: all 0.3s ease-in-out;
  color: #000000;
  margin:15px 0;
  border-bottom:1px solid #000000;
}

.buttons a svg{
    transform: rotate(180deg); 
    margin-right:10px;
}
.buttons a svg path{
    fill:#000;
}

{% endstylesheet %}

<div class="button-block">
    <div class="wrap-button-block">
        {% if section.settings.btn_text != blank %}
            <div class="buttons">
                <a href="{{ section.settings.btn_link }}" class="button"><svg class="button__icon" aria-hidden="true" role="img" focusable="false" width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.92 6.62033C11.8724 6.49758 11.801 6.38544 11.71 6.29033L6.71 1.29033C6.45634 1.03667 6.08662 0.937607 5.74012 1.03045C5.39362 1.1233 5.12297 1.39395 5.03012 1.74045C4.93728 2.08696 5.03634 2.45667 5.29 2.71033L8.59 6.00033H1C0.447715 6.00033 0 6.44805 0 7.00033C0 7.55262 0.447715 8.00033 1 8.00033H8.59L5.29 11.2903C5.10069 11.4781 4.9942 11.7337 4.9942 12.0003C4.9942 12.267 5.10069 12.5226 5.29 12.7103C5.47777 12.8996 5.73336 13.0061 6 13.0061C6.26664 13.0061 6.52223 12.8996 6.71 12.7103L11.71 7.71033C11.801 7.61523 11.8724 7.50308 11.92 7.38033C12.02 7.13687 12.02 6.86379 11.92 6.62033Z" fill="currentColor"></path></svg> {{ section.settings.btn_text }} </a>
            </div>  
        {% endif %}
    </div>
</div>

{% schema %}
    {
        "name": "Button Block",
        "settings": [
            {
                "type": "text",
                "id": "btn_text",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Button Link"
            }
            ],
            
            "presets": [
                {
                    "name": "Button Block"
                }
            ]
    }
    {% endschema %} 