<div class="page-container">
  <div class="one-half">
    {% if section.settings.image %}
    	<img class="lazyload" data-src="{{ section.settings.image | img_url: '800x' }}" />
    {% endif %}
  </div>
  <div class="one-half">
    {% unless page.content == blank %}
      <div class="rte">
        {{ page.content }}
      </div>
    {% endunless %}
  </div>
</div>

{% schema %}
  {
    "name": "Page | Quanlity Guarantee",
	"class":  "page-quanlity-guarantee",
    "settings": [
		{
			"type"  :  "image_picker",
			"id"    :  "image",
			"label" :  "Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
