

    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      
    }</script>
  
<div id="replo-section-b8328b40-9c24-462a-ae59-6089cf918eff" data-runtime-version="53b9d710-0be1-11ef-b211-8d7fb619ab6b" data-section-id="{{ section.id }}" style="display:block !important;">{% include "reploChunk.b8328b40-9c24-462a-ae59-6089cf918eff.0" %}{% include "reploChunk.b8328b40-9c24-462a-ae59-6089cf918eff.1" %}</div>

{% schema %}
{
  "name": "Custom_Comparsion-section",
  "presets": [
    {
      "name": "Custom_Comparsion-section"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Created in Replo",
      "info": "This Section was created using [Replo](https://www.replo.app/). If you would like to make any changes to the structure or design of this Section, you can [edit it in Replo](https://dashboard.replo.app/editor/d05d559b-0432-4d53-a860-9562712c5942/b8328b40-9c24-462a-ae59-6089cf918eff)."
    }
  ]
}
{% endschema %}
    