<section>
  <h2 class="title">{{ section.settings.title }}</h2>
  <div class="content">
    <div class="one-half">
      {{ section.settings.text }}
    </div>
    <div class="one-half">
      <img class="lazyload" data-src="{{ section.settings.image | img_url: '400x' }}" />
    </div>
  </div>
  
  <img class="lazyload story-back-img img1" data-src="//cdn.shopify.com/s/files/1/0404/4773/8021/files/story-back-icon.png?v=1617646448" />
  <img class="lazyload story-back-img img2" data-src="//cdn.shopify.com/s/files/1/0404/4773/8021/files/story-back-icon.png?v=1617646448" />
  <img class="lazyload story-back-img img3" data-src="//cdn.shopify.com/s/files/1/0404/4773/8021/files/story-back-icon.png?v=1617646448" />
</section>

{% schema %}
  {
    "name": "Story Products",
	"class":  "story-products story-index",
    "settings": [
		{
			"type"  :  "text",
			"id"    :  "title",
			"label" :  "Title"
		},
		{
			"type"  :  "richtext",
			"id"    :  "text",
			"label" :  "Text"
		},
		{
			"type"  :  "image_picker",
			"id"    :  "image",
			"label" :  "Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
