<ul class="nav-tab tab"  role="tablist">
  <li class="tab-item" role="presentation">
    <a class="nav-link" id="tab-1" href="#tabs-1" role="tab" aria-controls="tabs-1" aria-selected="true">FTF BEGINNER BOOTCAMP</a>
  </li>
  <li class="nav-item active" role="presentation">
    <a class="nav-link" id="tab-2" href="#tabs-2" role="tab" aria-controls="tabs-2" aria-selected="true">UPGRADE YOUR ORDER</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab-3" href="#tabs-3" role="tab" aria-controls="tabs-3" aria-selected="true">ORDER COMPLETE</a>
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
  <div class="tab-pane fade" id="tabs-1" role="tabpanel" aria-labelledby="tab-1" >
    Tab 1 content
  </div>

  <div class="tab-pane fade" id="tabs-2" role="tabpanel" aria-labelledby="tab-2" >
    Tab 2 content
  </div>

  <div class="tab-pane fade" id="tabs-3" role="tabpanel" aria-labelledby="tab-3" >
    Tab 3 content
  </div>
  
</div>
<!-- Tabs content -->

<style>
  .tab-pane{ display: none; }
  .tab-pane.active{ display: block; }


  .nav-tab { display: flex; align-items: stretch; justify-content: stretch; }
  .nav-tab li { display: flex; align-items: center; }
  .nav-tab li.active{ background: #1fbf1f; }
  
</style>

{% schema %}
  {
    "name": "Upgrade Order",
    "settings": [
		{
			"type"  :  "text",
			"id"    :  "tab-text1",
			"label" :  "Tab text1"
		},
		{
			"type"  :  "html",
			"id"    :  "tab-content1",
			"label" :  "Tab Content1"
		},
		{
			"type"  :  "text",
			"id"    :  "tab-text2",
			"label" :  "Tab text2"
		},
		{
			"type"  :  "html",
			"id"    :  "tab-content2",
			"label" :  "Tab Content2"
		},
        {
			"type"  :  "text",
			"id"    :  "tab-text3",
			"label" :  "Tab text3"
		},
		{
			"type"  :  "html",
			"id"    :  "tab-content3",
			"label" :  "Tab Content3"
		}
    ]
  }
{% endschema %}