@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$poppins: "Poppins", serif;

body{
    font-family: $poppins;
}

.hero-slider-block{
    position: relative;
    .slick-arrow{
        // left: 0;
        // right: 0;
        display: flex;
        justify-content: center ;
        align-items: center ;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
            background-color: #fff;
        }
        &::before{
            content: none;
        }
        &.slick-prev{
            left: 3%;
            z-index: 2;
            border: 2px solid #000;
            width: 50px;
            height: 50px;
            transition: all .3s;
        }
        &.slick-next{
            right: 3%;
            z-index: 2;
            border: 2px solid #000;
            width: 50px;
            height: 50px;
            transition: all .3s;
        }
    }
    .wrap-hero-slider-block{
            .slick-list{
                .slick-slide{
                    .single-slide{
                        .image-block{

                        }
                    }
                }
            }  
            .slick-dots{
                bottom: 15px;
                li{
                    margin: 0 .5rem !important;
                    width: unset !important;
                    height: unset !important;
                }
                .slick-active{
                    button{
                        background-color: black;
                        width: 30px;
                        border-radius: 10rem;
                        height: auto;
                    }
                }
            }      

    }
}

.collection{
    .collection__title{
        text-align: center;
        h2{
            margin-bottom: 0;
            font-size: 30px;
            font-family: $poppins;
            text-transform: uppercase;
        }
    }
    .page-width{
        max-width: 1500px;
        margin: 0 auto;
    }
    .product-grid{
        justify-content: center;
        .slick-slide{
            margin: 0 5px;
        }
        .grid__item-slide{
            .card-wrapper{
                &:hover{
                    .card{
                        .card__inner{
                            .quick-add{
                                bottom: 1rem ;
                                visibility: visible;
                                opacity: 1;
                                transition: all .3s;
                            }
                        }
                    }    
                }
                .card{
                    .card__inner{
                        flex-direction: column;
                        .quick-add{
                            opacity: 0;
                             visibility: hidden;
                             transition: all .3s;
                            .form{
                                .quick-add__submit{
                                    border: 1px solid #000;
                                    width: 100%;
                                    font-size: 14px;
                                    letter-spacing: .05em;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-weight: 700;
                                    transition: all .3s;
                                    border-color: rgb(0, 0, 0);
                                    color: rgb(35, 35, 35);
                                    background-color: rgb(255, 255, 255);
                                    border-radius: 1px;
                                    height: 44px;
                                }
                            }
                        }
                    }
                    .card__content{
                        .card__information{
                            .card__heading{
                                a{
                                    font-size: 14px;
                                    font-family: $poppins;
                                    color: #000;
                                    &::after{
                                        content: none;
                                    }
                                }
                            }
                            .card-information{
                                .price{
                                    .price__container{
                                        .price__sale{
                                            // display: flex;
                                            flex-direction: column;
                                            .price-item--regular{
                                                color: #aaa;
                                                font-size: 16px;
                                                font-family: $poppins;
                                            }
                                            .price-item--sale{
                                                font-size: 18px;
                                                font-family: $poppins;
                                                color: #2b2b2b;
                                                font-weight: 900;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .slick-arrow{
        // left: 0;
        // right: 0;
        display: flex;
        justify-content: center;
        align-items: center ;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
            background-color: #fff;
        }
        &::before{
            content: none;
        }
        &.slick-prev{
            // left: 3%;
            z-index: 2;
            border: 3px solid #000;
            width: 50px;
            height: 50px;
            transition: all .3s;
        }
        &.slick-next{
            // right: 3%;
            z-index: 2;
            border: 3px solid #000;
            width: 50px;
            height: 50px;
            transition: all .3s;
        }
    }
}

.gallery-block{
    .wrap-gallery-block{
        max-width: 1500px;
        margin: 0 auto;
        .gallery{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 5vw);
            grid-gap: 1.5rem;
            div{
                a{
                    
                    img{
                        width: 100%;
                        object-position: center;
                    }
                }
            }
            .gallery__item--1{
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 5;
                height: 100%;
                position: relative;
                overflow: hidden;

            }
            .gallery__item--2 {
                grid-column-start: 5;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 9;
                height: 100%;
                position: relative;
                overflow: hidden;
            }
            .gallery__item--3, .gallery__item--4 {
                grid-row-start: 5;
                grid-row-end: 9;
                height: 100%;
                position: relative;
                overflow: hidden;
                img{
                    position: absolute;
                    bottom: 0;
                }
            }
            .gallery__item--3 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .gallery__item--4 {
                grid-column-start: 3;
                grid-column-end: 5;
            }
        }
    }
}

.banner{
    &.banner--adapt{
        max-width: 1500px;
        margin: 0 auto;
    }
}

.testimonial-block{
    margin-top: 20px;
    .wrap-testimonial-block{
        text-align: center;
        // min-height: 250px;
        padding: 100px 20px;
        background-color: #f5f5f5;
        .testimonial-item{
            .stars{}
            .content{
                font-size: 16px;
                font-family: $poppins;
                color: #131318; 
                font-weight: 500;
                margin: 5px 0;
                p{
                    margin: 0;
                }
            }
            .writer-name{
                font-size: 16px;
                font-family: $poppins;
                color: #131318;
            }
        }
    }
}