<section class="content-block">
    <div class="wrap-content-block">
      
        {% for block in section.blocks %}
            <div class="wrapper">
                <h2 class="heading"> {{ block.settings.heading }}</h2>
                <div class="content">{{ block.settings.sub_text }}</div>
                <div class="border"></div>
            </div>
            {% endfor %}
        
    </div>
</section>

{% schema %}
{
    "name": "Content Block Loop",
    "settings": [
        
        ],
        "blocks": [
                {
                "type": "Item",
                "name": "Content Block",
                "settings": [
                    {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                    },
                    {
                    "type": "inline_richtext",
                    "id": "sub_text",
                    "label": "Sub Text"
                    }
                ]
                }
            ],
            "presets": [
                {
                    "name": "Content Block Loop"
                }
            ]
}
{% endschema %}