<div class="custom-advance-cont">
  <div class="custom-ad-img">
    <img src="{{ block.settings.image }}" />
  </div>
  <div class="custom-ad-cont-wrap">
    <p>{{ block.settings.code }}</p>
  </div>
</div>
