<article id="notfound" class="page container mt-5 mb-5">

  <div class="title-bar custom-font remove-margin-bottom">
    <h2 class="main-heading">{{ 'general.404.title' | t }}</h2>
    <div class="clear"></div>
  </div>

  <section>
    <p class="missing-page__message">{{ 'general.404.subtext_html' | t }}</p>
  </section>

</article>