

  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}





{% comment %}

  <div class="{% if section.settings.include_margins %}{% if template.name == 'product' %}container--product-page{% else %}container{% endif %}{% endif %}">
    {%- for block in section.blocks -%}
      {% render block %}
    {%- endfor -%}
  </div>

{% endcomment %}}

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "Make section margins the same as theme"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}