<section class="heading-text-block">
    <div class="wrap-heading-text-block"{% if section.settings.bg_image %} style="background-image: url({{ section.settings.bg_image |  img_url: 'master' }});" {% endif %}>
        <div class="wrap-content">
        <h2 class="heading">{{ section.settings.heading }}</h2>
        <div class="text">{{ section.settings.text }}</div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Heading Text Block",
    "settings": [
                {
                "type": "image_picker",
                "id": "bg_image",
                "label": "Background Image"
                },
                {
                "type": "text",
                "id": "heading",
                "label": "Heading"
                },
                {
                "type": "textarea",
                "id": "text",
                "label": "Content"
                }
      
        ],
        "presets": [
                {
                    "name": "Heading Text Block"
                }
        ]
}
{% endschema %}