<div class="account-banner">
    <div class="media" style="padding-top: 16.67%">
        <img loading="lazy" class="lazyload hs-lazyload hs-id-42bd55c0" data-src="{{ 'account-banner.jpg' | file_img_url: 'master' }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width height/>   
    </div>
    <h1>{{ 'customer.account.title' | t }}</h1>
</div>