{% if text != blank %}
  <div class="seo-text">
    <div class="page-width page-width--narrow center">
      {{ text | metafield_tag }}
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const seoEl = document.querySelector('.seo-text .metafield-rich_text_field');
      
      if(seoEl) {
        const firstChildHeight = seoEl.firstChild.offsetHeight;
        console.log(firstChildHeight);
        seoEl.style.maxHeight = firstChildHeight + 50 + 'px';
      }
    });
  </script>
{% endif %}
