<section class="hero-slider-block">
    <div class="wrap-hero-slider-block multiple-items">
        {% for block in section.blocks %}
                <a class="single-slide" href="{{ block.settings.url }}">
                    <div class="image-block">
                        <img src="{{ block.settings.image |  img_url: 'master' }}" alt="">
                    </div>
                </a>
        {% endfor %}
    </div>
     <!-- Custom Arrows -->
  <button class="slick-prev">
    <!-- Left Arrow SVG -->
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" color="#000" height="25" width="25" xmlns="http://www.w3.org/2000/svg">
      <path d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z"></path>
    </svg>
  </button>
  
  <button class="slick-next">
    <!-- Right Arrow SVG -->
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" color="#000" height="25" width="25" xmlns="http://www.w3.org/2000/svg" style="color: rgb(0, 0, 0);"><path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"></path></svg>
  </button>
</section>


{% schema %}
    {
        "name": "Hero Slider Block",
        "settings": [
     
            ],
            "blocks": [
                    {
                    "type": "slide",
                    "name": "Slide",
                    "settings": [
                        {
                            "type": "url",
                            "id": "link",
                            "label": "Slide Link"
                        },
                        {
                            "type": "image_picker",
                            "id": "image",
                            "label": "Slide Image"
                        }
                    ]
                    }
                ],
                "presets": [
                    {
                        "name": "Hero Slider Block"
                    }
                ]
    }
    {% endschema %}