<section class="testimonial-block">
    <div class="wrap-testimonial-block testi-slider">
        {% for block in section.blocks %}
            <div class="testimonial-item">
                <div class="stars">
                    {% assign rating = block.settings.rating %}
                    {% for i in (1..5) %}
                      {% if i <= rating %}
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" color="#000" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 .25a.75.75 0 0 1 .673.418l3.058 6.197 6.839.994a.75.75 0 0 1 .415 1.279l-4.948 4.823 1.168 6.811a.751.751 0 0 1-1.088.791L12 18.347l-6.117 3.216a.75.75 0 0 1-1.088-.79l1.168-6.812-4.948-4.823a.75.75 0 0 1 .416-1.28l6.838-.993L11.328.668A.75.75 0 0 1 12 .25Zm0 2.445L9.44 7.882a.75.75 0 0 1-.565.41l-5.725.832 4.143 4.038a.748.748 0 0 1 .215.664l-.978 5.702 5.121-2.692a.75.75 0 0 1 .698 0l5.12 2.692-.977-5.702a.748.748 0 0 1 .215-.664l4.143-4.038-5.725-.831a.75.75 0 0 1-.565-.41L12 2.694Z"></path>
                        </svg>
                      {% else %}
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" color="#d3d3d3" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 .25a.75.75 0 0 1 .673.418l3.058 6.197 6.839.994a.75.75 0 0 1 .415 1.279l-4.948 4.823 1.168 6.811a.751.751 0 0 1-1.088.791L12 18.347l-6.117 3.216a.75.75 0 0 1-1.088-.79l1.168-6.812-4.948-4.823a.75.75 0 0 1 .416-1.28l6.838-.993L11.328.668A.75.75 0 0 1 12 .25Zm0 2.445L9.44 7.882a.75.75 0 0 1-.565.41l-5.725.832 4.143 4.038a.748.748 0 0 1 .215.664l-.978 5.702 5.121-2.692a.75.75 0 0 1 .698 0l5.12 2.692-.977-5.702a.748.748 0 0 1 .215-.664l4.143-4.038-5.725-.831a.75.75 0 0 1-.565-.41L12 2.694Z"></path>
                        </svg>
                      {% endif %}
                    {% endfor %}
                  </div>
                <div class="content">{{ block.settings.description }}</div>
                <div class="writer-name">{{ block.settings.name }}</div>
            </div>       
        {% endfor %}
     
    </div>
</section>

{% schema %}
    {
        "name": "Testimonial Block",
        "settings": [
     
            ],
            "blocks": [
                    {
                    "type": "slide",
                    "name": "Slide",
                    "settings": [
                        {
                            "type": "richtext",
                            "id": "description",
                            "label": "Description"
                        },
                        {
                            "type": "text",
                            "id": "name",
                            "label": "Writer Name"
                        },
                        {
                        "type": "number",
                        "label": "Rating",
                        "id": "rating",
                        "default": 5
                        }
                    ]
                    }
                ],
                "presets": [
                    {
                        "name": "Testimonial Block"
                    }
                ]
    }
    {% endschema %}