{% for i in (1..post_limit) %}
  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
  {%- assign placeholder = 'lifestyle-' | append: current -%}
  <li class="span-4 sm-span-12 auto">
    <div class="article-body">
    <div class="homepage-excerpt">
      {%- assign image_size = '500x' -%}
      <div class="article-image onboard">
        <a href="#" title="Article title">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </a>
      </div>
    </div>
      <h2>
        <a href="/">Blog post {{ forloop.index }}</a>
      </h2>
    {% if section.settings.show_date or section.settings.show_author %}
      <div class="article-meta">
        <div class="article-meta-inner">
          <div class="article-data">
            {% if section.settings.show_date %}
            {% assign show_bullet = true %}
              <span class="date">{{ 'now' | date: "%a, %b %d, %y" }}&nbsp;</span>
            {% endif %}
            {% if section.settings.show_author %}
              <span class="author">{% if show_bullet %}•&nbsp;&nbsp;{% endif %}By Author</span>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
