{% comment %}
snippets/product-title.liquid

- product
{% endcomment %}
{% if request.page_type == 'product' %}
  <h1 class="product__section-title product-title">{{ product.title }}</h1>
{% else %}
<h2>
  {% unless product == empty %}
    <a href="{{ product.url }}">
      {{ product.title | escape }}
    </a>
  {% else %}
    {{ 'general.onboard.featured_product_title' | t }}
  {% endunless %}
</h2>
{% endif %}
