<div class="section-heading">
  {%- if link -%}
    <a href="{{ link | escape }}">
  {%- endif -%}
  <h2>{{ type | escape }}</h2>
  {%- if link -%}
    </a>
  {%- endif -%}
  <span class="section-border">
    {%- if settings.header_border_style == 'zigzag' -%}<div class="zigzag"></div>{% endif %}
  </span>
</div>
