<div data-product-handle="{{ product.handle }}" class="presale-clock flex flex--justify-center" data-end-date="{{date}}">
  <div class="days__wrapper presale-clock__box">
    <span class="days presale-clock__box--timer">00</span>
    <p>Days</p>
  </div>
  <div class="hours__wrapper presale-clock__box">
    <span class="hours presale-clock__box--timer">00</span>
    <p>Hrs</p>
  </div>
  <div class="minutes__wrapper presale-clock__box small--hide">
    <span class="minutes presale-clock__box--timer">00</span>
    <p>Min</p>
  </div>
  <div class="seconds__wrapper presale-clock__box small--hide">
    <span class="seconds presale-clock__box--timer">00</span>
    <p>Sec</p>
  </div>
</div>