<p><strong>WHAT'S INCLUDED? DETAIL &amp; SPEC</strong></p>
<p><strong>Door Thickness:&nbsp;</strong>2”&nbsp;</p>
<p><img src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/door_thickness.jpg?v=1555088904" alt="2&quot; Door Thickness" width="100%"></p>
<p><strong>Jamb </strong></p>
<p>Jamb is included and packaged separately from the door.&nbsp; Jamb is constructed with 12 gauge tube (above industry standard). &nbsp; Polyurethane Foam Core is filled in the jamb for greater insulation.&nbsp; &nbsp;</p>
<p><img src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/Door_Stripping.jpg?v=1555077337" alt="" width="100%"></p>
<h4><strong>THRESHOLD</strong></h4>
<p>Steel threshold is included and it comes welded on the jamb.</p>
<p><strong>In Swing Threshold:</strong></p>
<ul>
  <li>Thickness or height from the back interior side:&nbsp; 1 1/8”</li>
  <li>Thickness or height from the front exterior side: 1/2”</li>
  <li>Width or Depth:&nbsp; 6”&nbsp;</li>
</ul>
<p>&nbsp;</p>
<p><img width="100%" src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/in_swing.jpg?v=1555077337" alt="In Swing"></p>
<p>&nbsp;</p>
<p><strong>Out Swing Threshold:</strong></p>
<ul>
  <li>Thickness or height from the back interior side:&nbsp; 1 1/4”</li>
  <li>Thickness or height from the front exterior side: 1/2”</li>
  <li>Width or Depth:&nbsp; 6”</li>
</ul>
<p><img width="100%" src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/Outswing.jpg?v=1555077337" alt="Outswing"></p>
<p>&nbsp;</p>
<p><strong>Brackets</strong></p>
<p>Tabs come welded on jamb with pre drilled holes to allow for easy installation.</p>
<p><img src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/tabs_large.jpg?v=1555077337" alt="Tabs"></p>
<p>&nbsp;</p>
<p><b>Hinges</b></p>
<p>Steel weld on bullet hinges with grease fittings come welded on jamb and door.&nbsp; Allows customers to comfortably open our doors, but yet feel that quality with each and every use.&nbsp; We use welded steel bullet hinge with copper crush washer instead of a ball bearing hinge because ball bearings are made out of stainless steel (hard material) and the hinges/doors are made out of steel (softer material) which over time causes the hinge to wear. With copper crush washers, the washer is the soft point and they are easily replaceable over time if needed.&nbsp; &nbsp; &nbsp;</p>
<p>&nbsp;</p>
<p><strong>Glass</strong></p>
<p>Tempered dual pane glass.&nbsp; There is a spacer in between each 1/4” thick glass that makes the total thickness of the tempered dual pane glass 5/8”.&nbsp; Front exterior side glass is the design glass style you chose and back interior side glass is clear.&nbsp; Customers may swap back glass for design glass with special orders only.</p>
<p><img width="100%" src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/Glass_thickness.jpg?v=1555089069" alt="Glass Thickness"></p>
<p>&nbsp;</p>
<p><strong>Weather Stripping</strong></p>
<p>Dual foam weather stripping is included and comes installed around the door frame.&nbsp; Designs with operable glass will have dual sealing around the glass.&nbsp; The purpose is to help reduce air infiltration and water penetration.&nbsp; The dual sealing around the glass allows for weather stripping on both sides of the glass.&nbsp; The seal around the door frames help to reduce the leakage of air and heat, resulting in a much more energy efficient product for our customers.&nbsp; &nbsp;</p>
<p><img src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/Window_Stripping.jpg?v=1555089105" width="100%" alt="Window Stripping"></p>
<p>&nbsp;</p>
<p><strong>Foam</strong></p>
<p>Polyurethane foam core is filled in door frame and jamb to help reduce heat and cold weather transfer through the door.&nbsp; It also helps to reduce outside sound transfer through the door.&nbsp;</p>
<p><img src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/Foam.jpg?v=1555077337" alt="Foam" width="100%"></p>
<p>&nbsp;</p>
<p><strong>Rubber Door Sweeps</strong></p>
<p>Door sweep located underneath the door is included and comes installed on door.&nbsp; Bottom sweeps are used to help seal the gap at the bottom of your door to help prevent infiltration of sound, light, drafts, insects, moisture, smoke or fire.&nbsp; The bottom sweep is a simple way to help in insulating a room, which provides cost and environmental benefits.</p>
<p><img src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/bottom_strip.jpg?v=1555089162" width="100%" alt="Rubber Door Sweeps"></p>
<p>&nbsp;</p>
<p><strong>Flush Latch&nbsp;</strong></p>
<p>Included and pre-installed on all double door orders (Unless otherwise specified).&nbsp; Our flush latch is installed on the upper and lower sections of the secondary door to allow both doors to open and operate while in the unlocked position.</p>
<p><img src="//cdn.shopify.com/s/files/1/0141/5036/9334/files/flush_latch.jpg?v=1555089204" alt="Flush Latch" width="100%"></p>
<p>&nbsp;</p>
<p><strong>Protection </strong></p>
<p>Galvanize spray is used to help provide greater protection against corrosion for the iron base.&nbsp; Primer and paint is applied after the galvanizing process.&nbsp; During sustained periods of extreme cold weather, typically well below freezing of 25 degrees, is a good starting point to start looking further into our thermal break doors is to avoid condensation on the interior of the iron door.</p>
<p>&nbsp;</p>
<p><strong>Packaging </strong></p>
<p>Carefully packaged, wrapped in foam, covered in cardboard, trunk wrapped and shipped with style from Los Angeles.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Customer Service</strong></p>
<p>Our customer service does not stop at the point of sale. At Pinky’s Iron Doors, customer satisfaction is our number one priority.&nbsp; We strive to provide our clients with superior service, quality and communication.&nbsp; Our team members will always be here to help answer any questions to ensure a smooth and rewarding experience.</p>
<p>&nbsp;</p>
<p><strong>Not included&nbsp;</strong></p>
<p>Installation of door and locks. Locks are sold separately and can be purchased directly from our website.</p>
<p>&nbsp;</p>
<p><strong>Weight</strong></p>