{% case product.type %}
{% when 'Iron Doors' %}
  <p><strong>HOW OUR DOORS ARE MEASURED</strong></p>
  <p>Our sizes are measured from outside of jamb to the outside of the jamb. For example, a 72” x 96” iron door listed on our website means that 72” is the width from outside to outside of jamb (not the actual width size of the door) and 96” is the height from outside of jamb to bottom of our built in steel threshold (not the actual height of the door).&nbsp;</p>
  <p>We recommend the rough opening of the WIDTH to be 1/2” to 1” wider than the door size ordered to give the installer enough room to comfortably position the jamb into place and have enough room to make sure the jamb is leveled.</p>
  <p>We recommend the rough opening of the HEIGHT to be 1/2” to 1” wider than the door size ordered to give the installer enough room to comfortably position the jamb into place and have enough room to make sure the jamb is leveled.</p>
  <p>&nbsp;</p>
  <p><strong>ROUGH OPENING </strong></p>
  <p>Our sizes are measured from outside of jamb to the outside of the jamb. For example, a 72” x 96” iron door listed on our website means that 72” is the width from outside to outside of jamb (not the actual width size of the door) and 96” is the height from outside of jamb to bottom of our built in threshold (not the actual height of the door).&nbsp;</p>
  <p>We recommend the rough opening of the WIDTH to be 1/2” to 1” wider than the door size ordered to give the installer enough room to comfortably position the jamb into place and have enough room to make sure the jamb is leveled.</p>
  <p>We recommend the rough opening of the HEIGHT to be 1/2” to 1” wider than the door size ordered to give the installer enough room to comfortably position the jamb into place and have enough room to make sure the jamb is leveled.</p>
{% endcase %}