<!-- Note :
   - You can modify the font style and form style to suit your website. 
   - Code lines with comments Do not remove this code are required for the form to work properly, make sure that you do not remove these lines of code. 
   - The Mandatory check script can modified as to suit your business needs. 
   - It is important that you test the modified form before going live.-->
<div id='crmWebToEntityForm' class='zcwf_lblLeft crmWebToEntityForm' style='background-color: white;color: black;'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>
   <script async src="https://www.google.com/recaptcha/api.js"></script>
<form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads4468771000009485003 method='POST' enctype='multipart/form-data' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4468771000009485003()' accept-charset='UTF-8'>
 <input type='text' style='display:none;' name='xnQsjsdp' value='8f779f082cc630010d05e4e1fe78e20ad8c1e656ed71fbc093a8ea204cc6f741'></input> 
 <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
 <input type='text' style='display:none;' name='xmIwtLD' value='b672568ea16703ef666ff7ef0d830eb23435f2dcc031960de2d6e90bec797090'></input> 
 <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
 <input type='text' style='display:none;' name='returnURL' value='https&#x3a;&#x2f;&#x2f;pinkysirondoors.com&#x2f;pages&#x2f;thank-you' > </input>
	 <!-- Do not remove this code. -->
	 <input type='text' style='display:none;' id='ldeskuid' name='ldeskuid'></input>
	 <input type='text' style='display:none;' id='LDTuvid' name='LDTuvid'></input>
    <!-- Do not remove this code. -->
    <style type="text/css">

      html,body{
        margin: 0px;
      }
      #crmWebToEntityForm.zcwf_lblLeft {
        width:100%;
        margin: 0 auto;
        box-sizing: border-box;
      }
      #crmWebToEntityForm.zcwf_lblLeft * {
        box-sizing: border-box;
      }
      #crmWebToEntityForm{text-align: left;}
      #crmWebToEntityForm * {
        direction: ltr;
      }
      .zcwf_lblLeft .zcwf_title {
        word-wrap: break-word;
        padding: 0px 6px 10px;
        font-weight: bold;
      }
      .zcwf_lblLeft .zcwf_col_fld input[type=text]{
        padding: 13px 18px !important;
      }
      .zcwf_lblLeft .zcwf_col_fld input[type=text], .zcwf_lblLeft .zcwf_col_fld textarea {
        width: 100%;
        border: 1px solid #ccc;
        resize: vertical;
        border-radius: 2px;
        float: left;
      }
      .zcwf_lblLeft .zcwf_col_lab {
        width: 100%;
        word-break: break-word;
        padding: 0px 12px 0px 6px;
        margin-right: 10px;
        margin-top: 5px;
        float: left;
        min-height: 1px;
      }
      .zcwf_lblLeft .zcwf_col_fld {
        float: left;
        padding: 0px 12px 0px 6px;
        position: relative;
        margin-top: 5px;
        width: 100%;
      }
      .zcwf_lblLeft .zcwf_privacy{padding: 6px;}
      .zcwf_lblLeft .wfrm_fld_dpNn{display: none;}
      .dIB{display: inline-block;}
      .zcwf_lblLeft .zcwf_col_fld_slt {
        /* 	width: 60%; */
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 4px;
        font-size: 12px;
        float: left;
        resize: vertical;
      }
      .zcwf_lblLeft .zcwf_row:after, .zcwf_lblLeft .zcwf_col_fld:after {
        content: '';
        display: table;
        clear: both;
      }
      .zcwf_lblLeft .zcwf_col_help {
        float: left;
        margin-left: 7px;
        font-size: 12px;
        max-width: 35%;
        word-break: break-word;
      }
      .zcwf_lblLeft .zcwf_help_icon {
        cursor: pointer;
        width: 16px;
        height: 16px;
        display: inline-block;
        background: #fff;
        border: 1px solid #ccc;
        color: #ccc;
        text-align: center;
        font-size: 11px;
        line-height: 16px;
        font-weight: bold;
        border-radius: 50%;
      }
      .zcwf_lblLeft .zcwf_row {margin: 15px 0px; display: inline-block; width:100%;}
      .zcwf_row_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .zcwf_lblLeft .zcwf_privacy_txt {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-family: Arial;
        display: inline-block;
        vertical-align: top;
        color: #333;
        padding-top: 2px;
        margin-left: 6px;
      }
      .zcwf_lblLeft .zcwf_button {
        font-size: 14px;
        color: #333;
        border: 1px solid #000;
        padding: 13px 18px;
        border-radius: 0px;
        cursor: pointer;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block; 
        min-width: 150px;
        background: #fff;
        -webkit-appearance:none;
      }
      .zcwf_lblLeft .formsubmit {
        margin-right: 5px;
        cursor: pointer;
        color: #fff;
        background: #dadada;
        font-size: 14px;
        border: 1px solid #fff;
        -webkit-appearance: none;
      }
      .zcwf_lblLeft .zcwf_tooltip_over{
        position: relative;
      }
      .zcwf_lblLeft .zcwf_tooltip_ctn{
        position: absolute;
        background: #dedede;
        padding: 3px 6px;
        top: 3px;
        border-radius: 4px;word-break: break-all;
        min-width: 50px;
        max-width: 150px;
        color: #333;
      }
      .zcwf_lblLeft .zcwf_ckbox{
        float: left;
      }
      .zcwf_lblLeft .zcwf_file{
        width: 30%;
        box-sizing: border-box;
        float: left;
      }
      .clearB:after{
        content:'';
        display: block;
        clear: both;
      }
      .zcwf_file_overlay{
        width: 30%;
        padding: 13px 18px;
        font-size: 14px;
        border-radius: 2px;
        background: #fff;
        color: #000;
        border: 1px solid #000;
        min-width: 195px;
      }
      .custom-file-input{
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 10;
        padding: 13px 18px;
        width: 30%;
        min-width: 195px;
        margin: 0;
        cursor: pointer;
      }
      @media all and (max-width: 900px) {
        .zcwf_lblLeft .zcwf_col_lab, .zcwf_lblLeft .zcwf_col_fld {
          width: auto;
          float: none !important;
        }
        .zcwf_lblLeft .zcwf_col_help {width: 40%;}
      }
      @media all and (max-width: 425px) {
        .zcwf_row_wrapper{
          flex-wrap: wrap;
          flex-direction: column;
        }
      }
    </style>
    <div class="zcwf_row_wrapper">
      <div class="zcwf_row"><div class="zcwf_col_lab" style="font-size:12px; font-family: Arial;"><label for="First_Name">First Name<span style="color:red;">*</span></label></div><div class="zcwf_col_fld"><input type="text" id="First_Name" name="First Name" maxlength="40"><div class="zcwf_col_help"></div></div></div>
      <div class="zcwf_row"><div class="zcwf_col_lab" style="font-size:12px; font-family: Arial;"><label for="Last_Name">Last Name<span style="color:red;">*</span></label></div><div class="zcwf_col_fld"><input type="text" id="Last_Name" name="Last Name" maxlength="80"><div class="zcwf_col_help"></div></div></div>
    </div>
    <div class="zcwf_row_wrapper">
      <div class="zcwf_row"><div class="zcwf_col_lab" style="font-size:12px; font-family: Arial;"><label for="Email">Email<span style="color:red;">*</span></label></div><div class="zcwf_col_fld"><input type="text" ftype="email" id="Email" name="Email" maxlength="100"><div class="zcwf_col_help"></div></div></div>
      <div class="zcwf_row"><div class="zcwf_col_lab" style="font-size:12px; font-family: Arial;"><label for="Phone">Phone</label></div><div class="zcwf_col_fld"><input type="text" id="Phone" name="Phone" maxlength="30"><div class="zcwf_col_help"></div></div></div>
    </div>
    <div class="zcwf_row_wrapper">
      <div class="zcwf_row">
        <div class="zcwf_col_lab" style="font-size:12px; font-family: Arial;"><label for="Company">Company</label></div>
        <div class="zcwf_col_fld"><input type="text" id="Company" name="Company" maxlength="100"><div class="zcwf_col_help"></div></div>
      </div>
      <div class="zcwf_row">
        <div class="zcwf_col_lab" style="width: 100%;font-size:12px; font-family: Arial;">Upload a File</div>
        <div class="zcwf_col_fld" style="width: 100%"><div class="clearB"> 
          <input type="file" class="zcwf_file custom-file-input" name="theFile" id="theFile" multiple="">
          <button type="button" class="zcwf_file_overlay">Choose Files</button>
          <div class="zcwf_col_help"></div></div><p style="color:black;font-size:11px;padding-left:3px;">File(s) size limit is 20MB.</p>
        </div>
      </div>
    </div>
    <div class="zcwf_row_wrapper">
      <div class="zcwf_row"><div class="zcwf_col_lab" style="font-size:12px; font-family: Arial;"><label for="Description">Description<span style="color:red;">*</span></label></div><div class="zcwf_col_fld" style="width:100%"><textarea id="Description" name="Description"></textarea><div class="zcwf_col_help"></div></div></div>
    </div>
    <div class='zcwf_row wfrm_fld_dpNn' style='display:none !important;'>
      <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial; display:none !important;'><label for='Lead_Source'>Lead Source</label></div>
      <div class='zcwf_col_fld' style='display:none !important;'><select class='zcwf_col_fld_slt' id='Lead_Source' name='Lead Source' >
        <option selected value='Contact&#x20;Us&#x20;Form'>Contact Us Form</option>
        </select>
        <select class='zcwf_col_fld_slt' id='Lead_Status' name='Lead Status'  >
          <option selected value='Not&#x20;Contacted'>Not Contacted</option>
        </select>
      </div>
    </div>
    <div class='zcwf_row'> 
      <div class='zcwf_col_lab'></div>
      <div class='zcwf_col_fld'>
        <div class='g-recaptcha' data-sitekey='6LfDyQ8aAAAAAMgSwAMlTrDMP85wTqV1ifYGeixr' data-theme='light' data-callback='rccallback4468771000009485003' captcha-verified='false' id='recap4468771000009485003'></div>
        <div  id='recapErr4468771000009485003' style='font-size:12px;color:red;visibility:hidden;'>reCaptcha validation failed. If you are not a robot then please try again.</div>
      </div>
      <div class='zcwf_row'>
        <div class='zcwf_col_lab'><p id='captchawarning' style='font-size: 12px;'>reCaptcha must be validated to submit the form.</p></div>
        <div class='zcwf_col_fld'><input disabled='disabled' type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Submit' title='Submit'><input type='reset' class='zcwf_button' name='reset' value='Reset' title='Reset'></div>
      </div>
    </div>

<script>
  function rccallback4468771000009485003()
  {
    if(document.getElementById('recap4468771000009485003')!=undefined)
    {
      document.getElementById('recap4468771000009485003').setAttribute('captcha-verified',true);
      $('#formsubmit').removeAttr('disabled');
      document.getElementById("captchawarning").innerHTML = "";
      document.getElementById("formsubmit").style.background = "#ff5c4e";
    }
    if(document.getElementById('recapErr4468771000009485003')!=undefined && document.getElementById('recapErr4468771000009485003').style.visibility == 'visible' )
    {
      document.getElementById('recapErr4468771000009485003').style.visibility='hidden';
    }
  }
  function reCaptchaAlert4468771000009485003()
  {
    var recap = document.getElementById('recap4468771000009485003');
    if( recap !=undefined && recap.getAttribute('captcha-verified') == 'false')
    {
      document.getElementById('recapErr4468771000009485003').style.visibility='visible';
      return false;
    }
    return true;
  }

  function validateEmail4468771000009485003()
  {
    var form = document.forms['WebToLeads4468771000009485003'];
    var emailFld = form.querySelectorAll('[ftype=email]');
    var i;
    for (i = 0; i < emailFld.length; i++)
    {
      var emailVal = emailFld[i].value;
      if((emailVal.replace(/^\s+|\s+$/g, '')).length!=0 )
      {
        var atpos=emailVal.indexOf('@');
        var dotpos=emailVal.lastIndexOf('.');
        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length)
        {
          alert('Please enter a valid email address. ');
          emailFld[i].focus();
          return false;
        }
      }
    }
    return true;
  }

  function checkMandatory4468771000009485003() {
    var mndFileds = new Array('First Name','Last Name','Email','Description');
    var fldLangVal = new Array('First\x20Name','Last\x20Name','Email','Description');
    for(i=0;i<mndFileds.length;i++) {
      var fieldObj=document.forms['WebToLeads4468771000009485003'][mndFileds[i]];
      if(fieldObj) {
        if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
          if(fieldObj.type =='file')
          { 
            alert('Please select a file to upload.'); 
            fieldObj.focus(); 
            return false;
          } 
          alert(fldLangVal[i] +' cannot be empty.'); 
          fieldObj.focus();
          return false;
        }  else if(fieldObj.nodeName=='SELECT') {
          if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
            alert(fldLangVal[i] +' cannot be none.'); 
            fieldObj.focus();
            return false;
          }
        } else if(fieldObj.type =='checkbox'){
          if(fieldObj.checked == false){
            alert('Please accept  '+fldLangVal[i]);
            fieldObj.focus();
            return false;
          } 
        } 
        try {
          if(fieldObj.name == 'Last Name') {
            name = fieldObj.value;
          }
        } catch (e) {}
      }
    }
    if(!validateFileUpload4468771000009485003()){return false;}

    trackVisitor();
    if(!validateEmail4468771000009485003()){return false;}

    if(!reCaptchaAlert4468771000009485003()){return false;}
    document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
  }

  function validateFileUpload4468771000009485003(){
    var uploadedFiles = document.getElementById('theFile4468771000009485003'); 
    var totalFileSize =0; 
    if(uploadedFiles.files.length >3){ 
      alert('You can upload a maximum of three files at a time.'); 
      return false; 
    } 
    if ('files' in uploadedFiles) { 
      if (uploadedFiles.files.length != 0) { 
        for (var i = 0; i < uploadedFiles.files.length; i++) { 
          var file = uploadedFiles.files[i]; 
          if ('size' in file) { 
            totalFileSize = totalFileSize + file.size; 
          } 
        } 
        if(totalFileSize > 20971520){ 
          alert('Total file(s) size should not exceed 20MB.'); 
          return false; 
        } 
      } 
    } 
    return true; 
  }
  function tooltipShow4468771000009485003(el){
    var tooltip = el.nextElementSibling;
    var tooltipDisplay = tooltip.style.display;
    if(tooltipDisplay == 'none'){
      var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
      for(i=0; i<allTooltip.length; i++){
        allTooltip[i].style.display='none';
      }
      tooltip.style.display = 'block';
    }else{
      tooltip.style.display='none';
    }
  }
</script><script type='text/javascript' id='VisitorTracking'>var $zoho= $zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:'f94e74016e686415cb75cbfd2d6908490a554ee0baec9365fc37702a394b2628ffabdc6dd0842c0bc91c0dde1a5ac9e3', values:{},ready:function(){}};var d=document;s=d.createElement('script');s.type='text/javascript';s.id='zsiqscript';s.defer=true;s.src='https://salesiq.zoho.com/widget';t=d.getElementsByTagName('script')[0];t.parentNode.insertBefore(s,t);function trackVisitor(){try{if($zoho){var LDTuvidObj = document.forms['WebToLeads4468771000009485003']['LDTuvid'];if(LDTuvidObj){LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();}var firstnameObj = document.forms['WebToLeads4468771000009485003']['First Name'];if(firstnameObj){name = firstnameObj.value +' '+name;}$zoho.salesiq.visitor.name(name);var emailObj = document.forms['WebToLeads4468771000009485003']['Email'];if(emailObj){email = emailObj.value;$zoho.salesiq.visitor.email(email);}}} catch(e){}}</script>
	<!-- Do not remove this --- Analytics Tracking code starts --><script id="wf_anal" src="https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=b672568ea16703ef666ff7ef0d830eb23435f2dcc031960de2d6e90bec797090gid8f779f082cc630010d05e4e1fe78e20ad8c1e656ed71fbc093a8ea204cc6f741gid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513"></script><!-- Do not remove this --- Analytics Tracking code ends. -->
  </form>
</div>