<link rel="stylesheet" href="{{ 'style-404.css' | asset_url }}" />
<section class="page-404-section">
  <div class="container-style container-large">
    <h2>apologies, we couldn't find that page</h2>
    <div class="page-404-numbers">
      <span>4</span>
      <i><a href="/">navigate home</a></i>
      <span>4</span>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}