<div class="textile-block">
    <div class="texttile-block-wrapper">
        <h2 class="main-heading">{{ section.settings.heading }}</h2>
        <div class="image-block"><img src="{{ section.settings.image |  img_url: 'master' }}" alt=""></div>
        {% if section.settings.description != blank %} <div class="description">{{ section.settings.description }}</div>{% endif %}
    </div>

</div>

{% schema %}
    {
      "name": "Index - Textiles",
      "tag": "section",
      "class": "index-textiles",
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "label": "Top Title"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ],
      "presets": [
        {
          "name": "Index - Textiles"
        }
      ]
    }
    {% endschema %}