.blog-articles__article,
.grid-sizer {
    /* width: 50%; */
    width: calc(50% - 2px);
}

@media screen and (max-width: 749px) {
    .blog-articles__article,
    .grid-sizer {
        width: 100%;
    }    
}

.blog-articles__article {
    padding: 3rem;
    padding-bottom: 0;
    margin-bottom: 30px;
    
}

.blog-articles__article .card-wrapper {
    background: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.21);
}

.blog-articles__article .card__information {
    padding: 1.5rem !important;
}

#MainContent {
    background: #f0f0f0;
}