.collection-hero__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

.collection-hero:not(.collection-hero--with-image) {
  text-align: center;
}
.collection-hero:not(.collection-hero--with-image) .collection-hero__description {
  margin: 0px auto;
}

.collection-hero__description p {
  color: white;
  line-height: 1.5;
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.collection-hero__text {
    margin-top: 1.5rem;
  }

@media screen and (min-width: 750px) {

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
  .collection-hero__text {
    margin-left: auto;
    margin-right: auto;
  }
}

.collection-hero__title {
  margin: 0;
}

.collection-hero__link {
  padding-right: 2.4rem;
}
.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
  color: white;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.collection-hero__image-container:after {
  content: "";
  display: block;
  background: rgba(var(--color-foreground), 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
  .collection-hero__title {
    text-align: center;
  }
}
.collection-hero--with-image .collection-hero__text-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 0 4rem 2rem;
  }

  .collection-hero__image-container {
    width: 100%;
    min-height: 42rem;
  }
}


@media screen and (max-width: 749px) {
  .collection-hero__title {
    font-family: var(--font-body-family);
    font-size: 12px;
    font-weight: bold;
  }
  .per-row__wrapper {
    padding-top: 2px;
  }

}