{% comment %} <div class="review-widget {{ settings.review_section_style }}">
  <!-- INSERT REVIEW WIDGET HERE -->
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

</div> {% endcomment %}