<div class="flex-container trust-icons-container">
    <div class="satisfaction trust-icons">
        <img src="https://cdn.shopify.com/s/files/1/0404/4773/8021/files/100_percent_quality.png?v=1702338377">
        <p>Satisfaction Guarantee</p>
    </div>
    <div class="balls-sold trust-icons">
        <img src="https://cdn.shopify.com/s/files/1/0404/4773/8021/files/noun-trophy-6360287.png?v=1702227253">
        <p>5 Million Balls Sold!</p>
    </div>
    <div class="ships-within trust-icons">
        <img src="https://cdn.shopify.com/s/files/1/0404/4773/8021/files/noun-delivery-van-336679.png?v=1702227253">
        <p>Ships Within 48 Hours</p>
    </div>
    <div class="usapa associations">
        <img src="https://cdn.shopify.com/s/files/1/0404/4773/8021/files/USAPA_Logo.png?v=1702083948">
    </div>
    <div class="ppr associations">
        <img src="https://cdn.shopify.com/s/files/1/0404/4773/8021/files/ppr_logo_large_a9bb9b55-1a53-4ab0-8273-471ff8651276.png?v=1702085064">
    </div>
</div>

<style>
    .trust-icons-container {
    background-color: #f7f7f7;
    padding: 10px 5px;
    border-radius: 8px;
    margin-bottom: .75rem;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flex-container>div {
        white-space: wrap;
        padding: 0 .5rem;

    }

    .flex-container p {
        text-align: center;
        margin: 0;
    }

    @media screen and (max-width: 425px) {
        .flex-container p {
            font-size: .8rem;
        }
    }

    .flex-container a {
        text-decoration: underline;
        color: blue;
    }
    .flex-container .trust-icons {
        max-width: 33%;
        margin-bottom: 20px;
    }

    .flex-container .trust-icons img {
        max-height: 75px;
        display: block;
        margin: auto;
    }

    .flex-container .associations {
        width: 28%;
        min-width: 100px !important;
    }

    .pt-header-wrapper {
        display: none !important;
    }
</style>